//Fonts
@font-face {
  font-family: "Ubuntu";
  src: url("../../fonts/Ubuntu/Ubuntu-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/Ubuntu/Ubuntu-Regular.woff") format("woff"),
    url("../../fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../../fonts/Ubuntu/Ubuntu-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/Ubuntu/Ubuntu-Bold.woff") format("woff"),
    url("../../fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff") format("woff"),
    url("../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff") format("woff"),
    url("../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}