#case-section {
  &--03 {
    padding: {
      bottom: 0;
    };
  }
  &--05 {
    padding: {
      bottom: 72px;
    }
    @include r-b(lg) {
      padding: {
        bottom: 36px;
      };
    }
    @include r-b(sm) {
      padding: {
        top: 61px;
      };
    }
  }
  &--06 {
    padding: {
      top: 0;
      bottom: 0;
    };
  }
}