//imports
@import "utilities";
@import "fonts";
@import "variables";
@import "sections-spacing";
@import "components/countdown";
@import "decor";

.case-wrapper {
  overflow-x: hidden;
  font-family: $Helvetica;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  //min-width: 360px;
  background-color: #30314d;
  @include r-b(md) {
    padding-top: 70px;
  }
}

.relative {
  position: relative;
}

.slick-slide {
  outline: none!important;
}

.w50 {
  width: 50px;
}

.case-main-title {
  font-family: $Ubuntu;
  color: $yellow;
  font-size: 48px;
  font-weight: 700;
  line-height: 47px;
  text-align: center;
  @include r-b(lg) {
    font-size: 32px;
    line-height: 37px;
  }
  @include r-b(sm) {
    font-size: 24px;
  }
}

.text-neon {
  color: $blue;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.25), 0 0 18px rgba(1, 231, 254, 0.5);
}

a.text-neon {
  &:hover,
  &:focus {
    color: #00e8ff;
    text-decoration: none;
    border: none;
    text-shadow: 0 0 18px #01e7fe, 0 3px 0 rgba(0, 0, 0, 0.5);
  }
}

.case-link-external {
  color: #fff;
  padding-left: 36px;
  position: relative;
  display: inline-block;
  &:hover {
    color: #fff;
    //text-decoration: none;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
    width: 20px;
    height: 20px;
    background: url(../img/link-small.png) 100% no-repeat;
  }
}

.case-description {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  line-height: 30px;
  @include r-b(lg) {
    font-size: 14px;
    line-height: 24px;
  }
  @include r-b(sm) {
    line-height: 22px;
    margin-top: 17px;
  }
}

.case-section-padding {
  padding: 100px 0;
  @include r-b(lg) {
    padding: 42px 0;
  }
  @include r-b(sm) {
    padding: 30px 0;
  }
}

#case-section--00 {
  padding-top: 0;
}

.case-main-content {
  background-image: url(../img/case-main-bg.png);
  background-size: 150% auto;
  background-position: center top;
  background-repeat: repeat-y;
  background-color: #282745;
  position: relative;
  padding-bottom: 200px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 890px;
    background: url(../img/footer-rocket.png) no-repeat bottom left calc(50% - 700px)/auto, url(../img/footer-main-bg.png) repeat-x bottom center/contain;
  }
  @include r-b(lg) {
    padding-bottom: 145px;
  }
  @include r-b(xs) {
    padding-bottom: 50px;
  }
}

.countdown-line {
  background: url(../img/countdown.png);
  background-position: top center;
  background-repeat: repeat-x;
  background-size: cover;
  padding: 10px 0;
  @include r-b(lg) {
    display: none;
  }
}

.case-back-link {
  font-size: 12px;
  line-height: 19px;
  display: inline-block;
  margin-top: 13px;
}

.anounce-text {
  font-family: $Ubuntu;
  font-size: 12px;
  line-height: 19px;
}

.case-banner {
  padding-top: 63px;
  @include r-b(lg) {
    padding-top: 77px;
  }
  @include r-b(sm) {
    padding-top: 40px;
  }
}

.case-banner-img {
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  &--mobile {
    display: none;
  }
  @include r-b(mlg) {
    max-width: 100%;
  }
  @include r-b(lg) {
    margin-top: 20px;
  }
  @include r-b(sm) {
    display: none;
    &--mobile {
      display: block;
    }
  }
}

.case-banner-title {
  @include r-a(lg) {
    font-size: 40px;
    line-height: 47px;
    text-align: left;
    margin-top: 82px;
  }
  @include r-b(sm) {
    font-size: 21px;
    line-height: 24px;
  }
}

.case-banner-text {
  margin-top: 34px;
  @include r-b(lg) {
    margin-top: 20px;
    text-align: center;
  }
  @include r-b(sm) {
    font-size: 11px;
    line-height: 17px;
  }
}

.case-banner-link {
  font-size: 16px;
  line-height: 31px;
  @include r-a(lg) {
    margin-top: -86px;
    display: table;
  }
  @include r-b(lg) {
    display: table;
    margin: 0 auto;
  }
  @include r-b(sm) {
    font-size: 12px;
    line-height: 23px;
    margin-top: 27px;
  }
}

.case-icon-blocks {
  margin-top: 63px;
  @include r-b(sm) {
    margin-top: 42px;
  }
}

.case-icon-block {
  @include r-b(sm) {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
  &__icon {
    margin-bottom: 16px;
    img {
      display: block;
      margin: 0 auto;
      height: 108px;
      @include r-b(lg) {
        height: 74px;
      }
    }
  }
  &__text {
    text-align: center;
    max-width: 361px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 28px;
    @include r-b(lg) {
      max-width: 210px;
      font-size: 13px;
      line-height: 22px;
    }
    @include r-b(sm) {
      max-width: 100%;
    }
  }
}

/* Case step */
.case-step {
  text-align: center;
  position: relative;
  padding-top: 16px;
  margin-left: auto;
  margin-right: auto;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 1px;
    width: 70px;
    transform: translateX(-35px);
    background-color: $yellow;
  }
  &__title {
    font-size: 25px;
    line-height: 19px;
    font-weight: 700;
    margin-bottom: 25px;
    @include r-b(lg) {
      font-size: 22px;
      line-height: 25px;
      margin-bottom: 9px;
    }
    @include r-b(sm) {
      font-size: 18px;
      line-height: 19px;
    }
  }
  &__text {
    font-size: 20px;
    p {
      margin-bottom: 28px;
      &:last-child {
        margin-bottom: 0;
      }
      @include r-b(lg) {
        margin-bottom: 8px;
      }
    }
    @include r-b(lg) {
      font-size: 14px;
      line-height: 24px;
    }
  }
  &__image {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    &--mobile {
      display: none;
    }
    @include r-b(sm) {
      width: 480px;
      max-width: 480px;
      margin-top: 19px;
    }
    @include r-b(xs) {
      display: none;
      &--mobile {
        display: block;
        margin-bottom: 50px;
      }
    }
  }
}

.case-step-list {
  margin-top: 22px;
  padding-left: 0;
  list-style-type: none;
  &__item {
    &:not(:first-child) {
      margin-top: 12px;
    }
  }
  &__title {
    color: $yellow;
  }
}

.case-steps-block {
  &--01 {
    margin-top: 71px;
    .case-step {
      margin-top: 56px;
      &:nth-child(even) {
        &:before {
          background-color: #ca2146;
        }
      }
      &__text {
        max-width: 635px;
        margin: 0 auto;
        font-size: 20px;
        line-height: 28px;
        @include r-b(lg) {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
    @include r-b(lg) {
      margin-top: 40px;
      .case-step {
        margin-top: 30px;
        padding-top: 10px;
      }
    }
    @include r-b(sm) {
      margin-top: 26px;
      .case-step {
        margin-top: 22px;
      }
    }
  }
  &--02 {
    .case-step {
      margin-top: 126px;
      padding-top: 29px;
      &__title,
      &__text {
        max-width: 635px;
        margin-left: auto;
        margin-right: auto;
      }
      &:first-child {
        margin-top: 65px;
      }
      &:last-child:not(:first-child) {
        margin-top: 68px;
      }
    }
    @include r-b(lg) {
      .case-step {
        padding-top: 16px;
        margin-top: 66px;
        &:first-child {
          margin-top: 36px;
        }
        &:last-child:not(:first-child) {
          margin-top: 17px;
        }
      }
    }
    @include r-b(sm) {
      .case-step {
        margin-top: 52px;
        &:first-child {
          margin-top: 20px;
        }
      }

    }
  }
  &--move-top {
    margin-top: -84px;
    @include r-b(lg) {
      margin-top: -42px;
    }
    @include r-b(xs) {
      margin-top: -17px;
    }
  }
}
/* !Case step */

.case-rocket-wrapper {
  height: 760px;
  margin-top: 88px;
  position: relative;
  @include r-b(xlg) {
    width: 50%;
  }
  @include r-b(lg) {
    margin-top: 38px;
  }
  @include r-b(md) {
    height: 362px;
  }
  @include r-b(xs) {
    height: 242px;
    margin-top: 7px;
  }
  
  & + div .case-step:first-child {
    margin-top: 0;
  }
}

@keyframes rocket {
  0% {
    transform: translateX(25%) translateY(0);
  }
  // 25% {
  //   transform: translateY(15px);
  // }
  // 50% {
  //   transform: translateY(0);
  // }
  // 75% {
  //   transform: translateY(-15px);
  // }
  50% {
    transform: translateX(25%) translateY(15px) rotate(2deg);
  }
  100% {
    transform: translateX(25%) translateY(0);
  }
}

.case-rocket-img {
  margin-left: -598px;
  animation: rocket 1.8s infinite;
  animation-fill-mode: both;
  animation-timing-function: ease;
  @include r-b(xlg) {
    position: absolute;
    right: 0;
    transform: translateX(25%);
    height: 100%;
    top: 0;
    margin-left: 0;
  }
  @include r-b(xs) {
    animation: none;
  }
}

.features-block {
  font-size: 0;
  line-height: 0;
  text-align: justify;
  text-justify: distribute-all-lines;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  &:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
  }
  &-item {
    display: inline-block;
    font-size: 18px;
    line-height: normal;
    color: #5c5892;
    width: 100px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    vertical-align: top;
    &__icon {
      max-width: 100%;
    }
    &__icon {
      height: 78px;
      img {
        max-height: 62px;
      }
    }
  }
  &-separator {
    display: inline-block;
    vertical-align: top;
    font-size: 43px;
    line-height: normal;
    color: #5c5892;
    margin-top: 10px;
  }

  @include r-b(lg) {
    max-width: 430px;
    &-item {
      font-size: 12px;
      &__icon {
        height: 51px;
        img {
          max-height: 38px;
        }
      }
    }
    &-separator {
      font-size: 21px;
    }
  }

  @include r-b(sm) {
    &-item {
      width: auto;
    }
  }
}

.logo-block {
  margin-bottom: 118px;
  img {
    display: block;
    max-width: 385px;
    margin: 0 auto;
  }
  @include r-b(lg) {
    margin-bottom: 58px;
    img {
      max-width: 230px;
    }
  }
  @include r-b(xs) {
    margin-bottom: 51px;
    img {
      max-width: 194px;
    }
  }
}

.case-result-block {
  margin-top:55px;
  @include r-b(sm) {
    margin-top: 24px;
  }
  .case-result-item {
    float: left;
    width: 33.3%;
    @include r-b(sm) {
      float: none;
      width: 100%;
    }
  }
}

.case-result-item {
  position: relative;
  padding-top: 140px;
  padding-left: 54px;
  @include r-b(lg) {
    padding-top: 94px;
    padding-left: 27px;
  }
  @include r-b(sm) {
    padding-left: 0;
    padding-top: 0;
    text-align: center;
  }
  &:not(:first-child) {
    @include r-b(sm) {
      margin-top: 32px;
    }
  }
  &__header {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% + 100px);
    height: 100px;
    padding-top: 34px;
    padding-left: 100px;
    padding-right: 150px;
    border-radius: 50px;
    @include r-b(lg) {
      height: 64px;
      padding-top: 18px;
    }
    @include r-b(sm) {
      position: relative;
      width: 100%;
      height: auto;
      padding: 3px 45px 5px;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      left: 18px;
      top: 18px;
      @include r-b(lg) {
        height: 40px;
        width: 40px;
        top: 12px;
        left: 12px;
      }
      @include r-b(sm) {
        height: 24px;
        width: 24px;
        top: 50%;
        left: 8px;
        transform: translateY(-50%);
      }
    }
  }
  &__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    @include r-b(lg) {
      font-size: 12px;
    }
  }
  &__text {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    p {
      margin-bottom: 29px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include r-b(lg) {
      font-size: 14px;
    }
    @include r-b(sm) {
      margin-top: 16px;
    }
  }
  &:last-child {
    .case-result-item__header {
      width: 100%;
      padding-right: 100px;
      @include r-b(sm) {
        padding-right: 45px;
      }
    }
  }
  &:nth-child(1) {
    .case-result-item {
      &__header {
        background-color: $blue;
        color: #483864;
        &:before {
          background-color: #483864;
        }
      }
    }
  }
  &:nth-child(2) {
    .case-result-item {
      &__header {
        background-color: #483864;
        color: $blue;
        &:before {
          background-color: $blue;
        }
      }
    }
  }
  &:nth-child(3) {
    .case-result-item {
      &__header {
        background-color: $yellow;
        color: #483864;
        &:before {
          background-color: #483864;
        }
      }
    }
  }
}

/* Side steps */
.case-side-step-block {
  white-space: nowrap;
  margin-top: 80px;
  @include r-b(lg) {
    margin-top: 63px;
  }
  @include r-b(sm) {
    white-space: normal;
    margin-top: 50px;
  }
  &__img {
    width: 740px;
    @include r-b(lg) {
      width: calc(100% + 128px);
      margin-left: -47px;
    }
    @include r-b(sm) {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 458px;
      max-width: 458px;
    }
  }

  &__item {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    white-space: normal;
    @include r-b(sm) {
      display: block;
      width: 100%;
    }
  }

  .case-step {
    text-align: left;
    padding-top: 30px;
    &:before {
      left: 0;
      transform: none;
    }
    @include r-b(lg) {
      padding-top: 16px;
    }
    @include r-b(sm) {
      padding-top: 23px;
      text-align: center;
      &:before {
        left: 50%;
        transform: translateX(-35px);
      }
    }
  }

  &--01 {
    .case-step {
      margin-top: -75px;
      @include r-b(sm) {
        margin-top: 0;
      }
    }
  }

  &--02 {
    .case-side-step-block {
      &__item {
        &:first-child {
          width: 56%;
        }
        &:last-child {
          width: 44%;
          padding-left: 41px;
        }
      }
    }
    @include r-b(sm) {
      display: table;
      margin-top: 33px;
      .case-side-step-block {
        display: table;
        &__item {
          &:first-child {
            display: table-footer-group;
          }
          &:last-child {
            display: table-header-group;
          }
        }
      }
    }
  }
}
/* !Side steps */

/* Video */
.case-video-container {
  position: relative;
  &--02 {
    height: 0;
    padding-top: 52%;
    @include r-b(sm) {
      padding-top: 0;
      height: auto;
    }
  }
  &--01 {
    @include r-b(xs) {
      width: 458px;
      margin-top: 6px;
    }
    @include r-b(xxs) {
      transform: translateX(-90px);
    }
  }
  .case-video {
    position: absolute;
    &--01 {
      width: 47%;
      top: 39%;
      right: 10%;
      @include r-b(lg) {
        right: 21%;
      }
      @include r-b(md) {
        right: 19%;
        width: 50%;
      }
      @include r-b(sm) {
        right: 50%;
        width: 175px;
        transform: translateX(94px);
      }
    }
    &--02 {
      width: 100%;
      top: 0;
      left: 0;
      @include r-b(sm) {
        position: static;
      }
    }
  }
}
/* !Video */

/* Slider */
.case-slider-wrapper {
  padding-top: 40px;
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 40px;
    bottom: calc(100% - 40px);
    background-image: url(../img/slider-top.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: left bottom;
    @include r-b(mlg) {
      width: calc(100% - 76px);
      left: 38px;
    }
    @include r-b(xs) {
      width: calc(100% - 30px);
      left: 15px;
    }
  }
}

.case-slider {
  @include r-b(mlg) {
    width: calc(100% - 76px);
    margin: 0 auto;
  }
  @include r-b(xs) {
    width: calc(100% - 30px);
  }
  &__slide {
    img {
      display: block;
      width: 100%;
    }
  }
}

.case-slider-dots {
  margin-top: 38px;
  @include r-b(lg) {
    margin-top: 28px;
  }
  .slick-dots {
    list-style-type: none;
    font-size: 0;
    line-height: 0;
    padding-left: 0;
    text-align: center; 
    li {
      display: inline-block;
      vertical-align: bottom;
      &:not(:first-child) {
        margin-left: 8px;
      }
    }
    button {
      border: none;
      background-color: $blue;
      outline: none!important;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      font-size: 0;
      line-height: 0;
      padding: 0;
      @include r-b(xs) {
        width: 11px;
        height: 11px;
      }
    }
    .slick-active {
      button {
        width: 19px;
        height: 19px;
        box-shadow: 0 0 10px rgba(1, 231, 254, 0.5);
        @include r-b(xs) {
          width: 17px;
          height: 17px;
        }
      }
    }
  }
}

.case-slider-arrows {
  position: absolute;
  top: 41%;
  width: 100%;
  .slick-arrow {
    position: absolute;
    top: 0;
    background-color:transparent;
    border:none;
    width: 94px;
    height: 64px;
    padding: 0;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    outline: none!important;
  }
  .slick-prev {
    background-image: url(../img/arrow-left.svg);
    left: -96px;
    @include r-b(mlg) {
      left: -41px;
    }
  }
  .slick-next {
    background-image: url(../img/arrow-right.svg);
    right: -96px;
    @include r-b(mlg) {
      right: -41px;
    }
  }
  @include r-b(xs) {
    top: 32%;
    .slick-arrow {
      width: 72px;
    }
    .slick-prev {
      left: -39px;
    }
    .slick-next {
      right: -39px;
    }
  }
}
/* !Slider */