/* Banner */
#contacts-banner {
  .banner-circle {
    bottom: -57px;
    left: 50%;
    transform: translateX(-578px);
    width: 507px;
    height: 507px;
  }
  .banner {
    &__img {
      left: 8%;
    }
  }
}

@include r-b(ipad) {
  #contacts-banner {
    &:before {
      width: calc(50% - 38px);
    }
    &:after {
      width: calc(50% + 38px);
    }
    .banner-circle {
      width: 395px;
      height: 395px;
      bottom: -100px;
      transform: translateX(-404px);
    }
    .banner {
      &__img {
        left: 10%;
        width: 279px;
        bottom: -64px;
      }
    }
  }
}

@include r-b(sm) {
  #contacts-banner {
    .banner-circle {
      width: 185px;
      height: 185px;
      bottom: -40px;
      transform: translateX(-165px);
    }
  }
}
/* !Banner */

/* Sections */
#contacts-section {
  &--01 {
    padding-bottom: 96px;
  }
  &--02 {
    padding-bottom: 70px;
  }
}

@include r-b(ipad) {
  #contacts-section {
    &--01 {
      padding-bottom: 0;
    }
  }
}

@include r-b(sm) {
  #contacts-section {
    &--01 {
      padding-bottom: 24px;
    }
  }
}
/* !Sections */