/* Main banner */
#main-banner {
  &--01 {
    .banner {
      &__img {
        right: auto;
        left: 40%;
      }
      &__content {
        margin-top: -32px;
      }
    }
    .banner-circle {
      bottom: 46px;
      left: calc(50% + 240px);
      transform: translateX(-50%);
    }
  }
  &--02 {
    .banner-circle {
      left: calc(50% + 240px);
      transform: translateX(-50%);
      bottom: -60px;
    }
    .banner {
      &__img {
        width: 770px;
        max-height: initial;
        left: 45%;
      }
    }
  }
  &--03 {
    background: linear-gradient(90deg, #EEB64A 16.15%, #F3C963 100%);
    &:before, &:after {
      content: none;
    }
    .banner-circle {
      width: 857px;
      height: 857px;
      background-color: #5C3836;
      bottom: -130px;
      left: 50%;
      transform: translateX(-308px);
    }
    .banner {
      &__content {
        margin-top: -108px;
      }
      &__pre-title {
        color: #E32646;
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 45px;
        margin-left: -4px;
      }
      &__title {
        font-size: 124px;
        line-height: 103px;
        margin-left: -5px;
        letter-spacing: 5px;
      }
      &__img {
        right: 148px;
      }
    }
  }
}

@include r-b(lg) {
  #main-banner {
    &--03 {
      .banner-circle {
        width: 624px;
        height: 624px;
        transform: translateX(-227px);
        bottom: -80px;
      }
      .banner {
        &__img {
          right: 112px;
          width: 637px;
        }
      }
    }
  }
}

@include r-b(ipad) {
  #main-banner {
    &--01 {
      .banner-circle {
        bottom: 22px;
        left: calc(50% + 168px);
      }
    }
    &--02 {
      .banner-circle {
        width: 462px;
        height: 462px;
        bottom: -160px;
        left: calc(50% + 175px);
      }
      .banner {
        &__title {
          padding-top: 28px;
        }
        &__list {
          margin: 0;
        }
        &__img {
          max-height: initial;
          width: 576px;
          left: 44%;
        }
      }
    }
    &--03 {
      .banner-circle {
        width: 624px;
        height: 624px;
        transform: translateX(-227px);
        bottom: -80px;
      }
      .banner {
        &__content {
          margin-top: -96px;
        }
        &__pre-title {
          font-size: 36px;
          line-height: 36px;
          margin-bottom: 30px;
          margin-left: 0;
        }
        &__title {
          font-size: 96px;
          line-height: 80px;
          margin-left: 0;
          letter-spacing: 4px;
        }
        &__description {
          margin-top: 6px;
        }
        &__img {
          right: 112px;
          width: 637px;
        }
      }
    }
  }
}

@include r-b(sm) {
  #main-banner {
    &--01 {
      .banner {
        &__title {
          &--lg {
            font-size: 72px;
            line-height: 42px;
          }
        }
        &__content {
          margin-top: 0;
        }
        &__img {
          left: 19%;
          max-width: 398px;      
        }
      }
    }
    &--02 {
      .banner {
        &__title {
          padding-top: 0;
        }
        &__description {
          margin-top: 20px;
          line-height: 18px;
          margin-bottom: 28px;
          position: relative;
          z-index: 1;
        }
        &__img {
          width: 412px;
          left: 16%;
        }
      }
    }
    &--03 {
      .banner-circle {
        display: block;
        transform: translateX(-151px);
        bottom: -204px;
      }
      .banner {
        &__content {
          margin-top: -29px;
        }
        &__pre-title {
          font-size: 24px;
          line-height: 24px;
          margin-bottom: 18px;
        }
        &__title {
          font-size: 64px;
          line-height: 53px;
          letter-spacing: 3px;
        }
        &__description {
          font-size: 24px;
          line-height: 24px;
          margin-top: 14px;
        }
        &__img {
          right: -316px;
        }
      }
    }
  }
}
/* !Main banner */

/* Sections */
#main-section {
  &--01 {
    padding-top: 59px;
    padding-bottom: 84px;
  }
}

@include r-b(ipad) {
  #main-section {
    &--01 {
      padding-top: 42px;
      padding-bottom: 55px;
      .common-title {
        @include r-b(ipad) {
          font-size: 36px;
          line-height: 45px;
        }
      }
    }
  }
}

@include r-b(ipad) {
  #main-section {
    &--01 {
      padding-top: 30px;
    }
  }
}
/* !Sections */