/* Banner */
#menu-banner {
    &:after {
        width: calc(50% + 241px);
    }
    .banner-circle {
        width: 500px;
        height: 500px;
        bottom: -280px;
        left: 50%;
        transform: translateX(-680px);
    }
    .banner {
        &__img {
            left: 9px;
        }
        &__content {
            right: auto;
            left: 50%;
            transform: translateX(-95px);
            bottom: 102px;
            top: auto;
        }
        &__title {
            &--lg {
                line-height: 150px;
            }
        }
    }
}

@include r-b(ipad) {
    #menu-banner {
        &:after {
            width: calc(50% + 91px);
        }
        &:before {
            width: calc(50% - 91px);
        }
        .banner-circle {
            width: 400px;
            height: 400px;
            bottom: -207px;
            transform: translateX(-250px);
        }
        .banner {
            &__img {
                width: 373px;
                bottom: -9px;
                left: 74px;
            }
            &__content {
                bottom: 110px;
                transform: translateX(-34px);
            }
            &__title {
                &--lg {
                    line-height: 108px;
                }
            }
        }
    }
}

@include r-b(md) {
    #menu-banner {
        .banner {
            &__content {
                transform: translateX(-65px);
            }
        }
    }
}

@include r-b(sm) {
    #menu-banner {
        height: 200px;
        &:after {
            width: calc(50% - 70px);
        }
        &:before {
            width: calc(50% + 70px);
        }
        .banner-circle {
            width: 119px;
            height: 119px;
            transform: translateX(20px);
            bottom: -39px;
        }
        .banner {
            &__content {
                height: auto;
                bottom: 41px;
                left: 0;
                transform: none;
            }
            &__title {
                &--lg {
                    line-height: 38px;
                }
            }
        }
    }
}
/* !Banner */

/* Sections */
#menu-section {
    padding-bottom: 46px;
}

@include r-b(lg) {
    #menu-section {
        padding-bottom: 56px;
    }   
}
/* !Sections */