<div id="bonus-banner" class="banner banner--img-right banner--theme-2">

    <div class="banner-circle"></div>
    <div class="container-outer banner__holder">
      <div class="banner__content">
        <div class="banner__title banner__title--lg">
          <span class="visible-desktop">Бонусная программа</span>
          <span class="visible-mobile">Бонусы</span>
        </div>
      </div>
    </div>
    <img src="img/bonus/banner-img.png" alt="" class="banner__img banner__img--bottom">
</div>