<section class="common-section" id="bonus-section--01">
  <div class="container-outer container-outer--fill-tablet">
    <div class="bonus-blocks-outer">
        <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="bonus-block bonus-block--1">
                  <img src="img/bonus/bonus-img-1.png" alt="Бонус" class="bonus-block__img">
                  <div class="bonus-block__content">
                    <div class="bonus-block__title">
                        Ходить в&nbsp;«КОМОД» становится еще&nbsp;приятнее!
                    </div>
                    <div class="bonus-block__description">
                        Вступай в Komod club и&nbsp;получай <br class="hidden-sm hidden-xs"> бонусы за&nbsp;каждую покупку!*
                    </div>
                    <div class="bonus-block__note">
                        С картой «Комода» поход в&nbsp;любимую <br> кофейню станет выгодным — накопи бонусы <br> и оплати ими до 100 % суммы заказа.**
                    </div>
                    <ul class="bonus-block__list">
                      <li class="bonus-block__list-item js__accordeon">
                          Как это работает?
                          <div class="bonus-block__list-item-expand js__accordeon--item hidden">
                            <p>
                              Возврат денежных средств осуществляется путем перевода израсходованных денежных средств в&nbsp;бонусы и&nbsp;зависит от&nbsp;суммы совершённых покупок в&nbsp;кофейне «КОМОД». Сумма баллов начисляется в&nbsp;течении 24&nbsp;часов с&nbsp;момента совершения покупки, не&nbsp;может превышать более&nbsp;30 дней.
                            </p>
                            <p>Бонусы по&nbsp;картам начисляются по&nbsp;курсу 1&nbsp;бонус - 1&nbsp;руб.</p>
                            <p>
                              Бонусы на&nbsp;карте пополняются в&nbsp;соответствие с&nbsp;типом карты. Карты деялся на&nbsp;2&nbsp;типа: кэшбэк&nbsp;5% и&nbsp;кэшбэк&nbsp;7 %.
                            </p>
                          </div>
                      </li>
                      <li class="bonus-block__list-item js__accordeon">
                          Как вступить в&nbsp;клуб?
                          <div class="bonus-block__list-item-expand js__accordeon--item hidden">
                            <p>
                              Участниками клуба становятся физические лица, достигшие 16&nbsp;летнего возраста, совершившие единовременную покупку в&nbsp;кофейне «КОМОД» на&nbsp;сумму от&nbsp;500 руб., что&nbsp;гарантирует получение бонусной карты с&nbsp;возможностью получать кешбек &nbsp;покупки в&nbsp;размере&nbsp;5% и&nbsp;на&nbsp;сумму от&nbsp;1500 руб., что&nbsp;гарантирует получение бонусной карты с&nbsp;возможностью получать кешбек с&nbsp;покупки в&nbsp;размере&nbsp;7%, для&nbsp;чего необходимо заполнить анкету «Любимого&nbsp;гостя». Бонусы накапливаются бессрочно и&nbsp;&nbsp;сгорают, лимит по&nbsp;количеству накопленных бонусов отсутствует.
                            </p>
                          </div>
                      </li>
                      <li class="bonus-block__list-item js__accordeon">
                          Использование бонусов
                          <div class="bonus-block__list-item-expand js__accordeon--item hidden">
                            <p>
                                Воспользоваться бонусами можно в&nbsp;любой кофейне «КОМОД», &nbsp;оплатить ими от&nbsp;1 до&nbsp;100% стоимости покупки в&nbsp;зависимости от&nbsp;количества накопленных бонусов. Наличие карты обязательно для&nbsp;снятия или&nbsp;накопления бонусов при&nbsp;совершении покупки, в&nbsp;противном случае кофейня оставляет за&nbsp;собой право отказать в&nbsp;накоплении или&nbsp;снятии бонусов.
                            </p>
                          </div>
                      </li>
                      <li class="bonus-block__list-item js__accordeon">
                          Утеря карты
                          <div class="bonus-block__list-item-expand js__accordeon--item hidden">
                            <p>
                                При утере карты, ее&nbsp;держатель может получить дубликат в&nbsp;любой из&nbsp;кофеен «КОМОД», для&nbsp;получения дубликата потребуется документ удостоверяющий личность.
                            </p>
                          </div>
                      </li>
                    </ul>
                  </div>
                </div>
      
                <div class="bonus-block bonus-block--2">
                  <img src="img/bonus/bonus-img-2.png" alt="Бонус" class="bonus-block__img">
                  <div class="bonus-block__content">
                    <div class="bonus-block__title">
                        Порадуй своих близких и&nbsp;друзей!
                    </div>
                    <div class="bonus-block__description">
                        Прекрасный подарок для любимых, <br class="hidden-sm hidden-xs"> лучшая мотивация для&nbsp;Ваших коллег, <br class="hidden-sm hidden-xs"> замечательная идея для&nbsp;подарка – <br class="hidden-sm hidden-xs"> все&nbsp;это сертификат кофейни <br> «КОМОД»
                    </div>
                    <div class="bonus-block__note">
                        Существующие номиналы пластиковых <br class="hidden-sm hidden-xs"> Подарочных сертификатов: 500 и 1000 рублей.
                    </div>
                    <ul class="bonus-block__list">
                      <li class="bonus-block__list-item js__accordeon">
                          Что это такое?
                          <div class="bonus-block__list-item-expand js__accordeon--item hidden">
                            <p>
                                Подарочные сертификаты позволяют оплачивать ваш&nbsp;заказ в&nbsp;любой &nbsp;кофеен «КОМОД»
                            </p>
                            <p>
                                Приобрести подарочный сертификат можно в&nbsp;любой &nbsp;кофеен «КОМОД».
                            </p>
                            <p>
                                Карта предварительной оплаты (подарочный&nbsp;сертификат) является неперсонифицированным пластиковым документом, который удостоверяет факт заключения договора купл&nbsp;-&nbsp;продажи в&nbsp;пользу третьего лица и&nbsp;подтверждает предварительную оплату товаров в&nbsp;кофейнях «КОМОД».
                            </p>
                          </div>
                      </li>
                      <li class="bonus-block__list-item js__accordeon">
                          Как пользоваться?
                          <div class="bonus-block__list-item-expand js__accordeon--item hidden">
                            <p>
                                Предъявителю подарочного сертификата гарантируется продажа товаров в&nbsp;кофейнях&nbsp;«КОМОД» по&nbsp;выбору единовременно на&nbsp;сумму указанного номинала, который указан на&nbsp;подарочном сертификате.
                            </p>
                            <p>
                                В&nbsp;случае если сумма покупки меньше номинала сертификата, то&nbsp;разница между суммой покупки и&nbsp;номиналом сертификата не&nbsp;возвращается. В&nbsp;случае если сумма покупки больше номинала предъявленного сертификата, то&nbsp;покупатель производит доплату путем внесения денежных средств в&nbsp;кассу кофейни «КОМОД» или&nbsp;путем оплаты банковской картой.
                            </p>
                            <p>
                                При оплате одной покупки допускается использование только одного сертификата.
                            </p>
                            <p>
                                Подарочный сертификат не&nbsp;является именным и&nbsp;может передаваться любым лицам по&nbsp;своему усмотрению.
                            </p>
                          </div>
                      </li>
                      <li class="bonus-block__list-item js__accordeon">
                          Срок действия
                          <div class="bonus-block__list-item-expand js__accordeon--item hidden">
                            <p>
                                Срок действия подарочного сертификата не&nbsp;ограничен, сертификат может быть предоставлен для&nbsp;оплаты товаров в&nbsp;любое время.
                            </p>
                          </div>
                      </li>
                      <li class="bonus-block__list-item js__accordeon">
                          Возврат и&nbsp;утеря
                          <div class="bonus-block__list-item-expand js__accordeon--item hidden">
                            <p>
                                Подарочные сертификаты не&nbsp;являются ценной бумагой и&nbsp;не&nbsp;подлежат возврату, обмену на&nbsp;денежные средства, либо размену на&nbsp;сертификаты меньшего наминала.
                            </p>
                            <p>
                                При возврате оплаченного товара с&nbsp;использованием подарочного сертификата, возврат денежных средств осуществляется путём выдачи покупателю подарочного сертификата с&nbsp;зачисленной суммой в&nbsp;размере стоимости возвращенного товара.
                            </p>
                            <p>
                                В&nbsp;случае кражи или&nbsp;утери подарочного сертификата, сумма за&nbsp;сертификат не&nbsp;компенсируется.
                            </p>
                          </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <div class="bonus-section-note">
        * Комод клаб – Комод клуб <br>
        ** Дизайн карт может быть изменен. <br> Информация действительна на 01.09.2019
      </div>
    </div>
  </div>
</section>