<section class="common-section" id="bonus-section--01">
  <div class="container-outer container-outer--fill-tablet">
    <div class="bonus-blocks-outer">
        <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="bonus-block bonus-block--1">
                  <img src="img/bonus/bonus-img-1.png" alt="Бонус" class="bonus-block__img">
                  <div class="bonus-block__content">
                    <div class="bonus-block__title">
                        Ходить в&nbsp;«КОМОД» становится еще&nbsp;приятнее!
                    </div>
                    <div class="bonus-block__description">
                        Вступай в Komod club и получай <br class="hidden-sm"> бонусы за каждую покупку!
                    </div>
                    <div class="bonus-block__note">
                        С картой «Комода» поход в любимую <br> кофейню станет выгодным — накопи бонусы <br> и оплати ими до 100 % суммы заказа.**
                    </div>
                    <ul class="bonus-block__list">
                      <li class="bonus-block__list-item js__accordeon">
                          Как это работает?
                          <div class="bonus-block__list-item-expand js__accordeon--item hidden">
                            <p>
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod beatae minima quo quaerat numquam, amet sit dolore repudiandae totam unde voluptatibus laudantium, est recusandae ut voluptatem voluptates accusamus perferendis architecto?
                            </p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium obcaecati delectus esse facilis eaque! Similique assumenda natus possimus et ipsa.</p>
                          </div>
                      </li>
                      <li class="bonus-block__list-item js__accordeon">
                          Как вступить в клуб?
                          <div class="bonus-block__list-item-expand js__accordeon--item hidden">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia quod quae nihil quibusdam voluptates, enim accusamus voluptatem sapiente consequuntur debitis.
                          </div>
                      </li>
                      <li class="bonus-block__list-item js__accordeon">
                          Использование бонусов
                          <div class="bonus-block__list-item-expand js__accordeon--item hidden">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia quod quae nihil quibusdam voluptates, enim accusamus voluptatem sapiente consequuntur debitis.
                          </div>
                      </li>
                      <li class="bonus-block__list-item js__accordeon">
                          Утеря карты
                          <div class="bonus-block__list-item-expand js__accordeon--item hidden">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia quod quae nihil quibusdam voluptates, enim accusamus voluptatem sapiente consequuntur debitis.
                          </div>
                      </li>
                    </ul>
                  </div>
                </div>
      
                <div class="bonus-block bonus-block--2">
                  <img src="img/bonus/bonus-img-2.png" alt="Бонус" class="bonus-block__img">
                  <div class="bonus-block__content">
                    <div class="bonus-block__title">
                        Порадуй своих близких и&nbsp;друзей!
                    </div>
                    <div class="bonus-block__description">
                        Прекрасный подарок для любимых, <br> лучшая мотивация для&nbsp;Ваших коллег, <br> замечательная идея для&nbsp;подарка – <br> все&nbsp;это сертификат кофейни <br> «КОМОД»
                    </div>
                    <div class="bonus-block__note">
                        Существующие номиналы пластиковых <br> Подарочных сертификатов: 500 и 1000 рублей.
                    </div>
                    <ul class="bonus-block__list">
                      <li class="bonus-block__list-item">
                          Что это такое?
                      </li>
                      <li class="bonus-block__list-item">
                          Как пользоваться?
                      </li>
                      <li class="bonus-block__list-item">
                          Срок действия
                      </li>
                      <li class="bonus-block__list-item">
                          Возврат и утеря
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <div class="bonus-section-note">
        * Комод клаб – Комод клуб <br>
        ** Дизайн карт может быть изменен. <br> Информация действительна на 01.09.2019
      </div>
    </div>
  </div>
</section>