.container {
  max-width: $container-width;
  @include r-b(lg) {
    max-width: 778px;
  }
}

.container-outer {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1380px;
  .container {
    padding: 0;
  };
  @include r-b(sm) {
    padding: 0 18px;
  }

  &--fill-tablet {
    .container {
      padding: 0 10px;
      @include r-b(lg) {
        max-width: 100%;
        padding: 0;
      }
    }
  }
}

/* Sticky footer */
html, body {
  height: 100%;
}

h1, h2, h3, h4 {
  margin: 0;
}

.layout {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  position: relative;
  overflow: hidden;
}

.content-inner {
  // height: auto;
  // display: table-row;
}

.footer {
  display: table-row;
  height: 1px;
}
/* !Sticky footer */