
<div class="case-decor-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 case-decor-container"><img class="case-decor case-decor-1" src="img/decor/decor-1.png" alt=""/><img class="case-decor case-decor-2" src="img/decor/decor-2.png" alt=""/><img class="case-decor case-decor-3" src="img/decor/decor-3.png" alt=""/><img class="case-decor case-decor-4" src="img/decor/decor-4.png" alt=""/><img class="case-decor case-decor-5" src="img/decor/decor-5.png" alt=""/><img class="case-decor case-decor-6" src="img/decor/decor-6.png" alt=""/><img class="case-decor case-decor-7" src="img/decor/decor-7.png" alt=""/>
      </div>
    </div>
  </div>
</div>