
<div class="countdown countdown-container">
  <div class="clock row">
    <div class="clock-item clock-years countdown-time-value w50">
      <div class="wrap">
        <div class="inner">
          <div class="clock-canvas" id="canvas-years"></div>
          <div class="text">
            <p class="val">0</p>
          </div>
        </div>
      </div>
    </div>
    <div class="clock-item clock-months countdown-time-value w50">
      <div class="wrap">
        <div class="inner">
          <div class="clock-canvas" id="canvas-months"></div>
          <div class="text">
            <p class="val">0</p>
          </div>
        </div>
      </div>
    </div>
    <div class="clock-item clock-days countdown-time-value w50">
      <div class="wrap">
        <div class="inner">
          <div class="clock-canvas" id="canvas-days"></div>
          <div class="text">
            <p class="val">0</p>
          </div>
        </div>
      </div>
    </div>
    <div class="clock-item clock-hours countdown-time-value w50">
      <div class="wrap">
        <div class="inner">
          <div class="clock-canvas" id="canvas-hours"></div>
          <div class="text">
            <p class="val">0</p>
          </div>
        </div>
      </div>
    </div>
    <div class="clock-item clock-minutes countdown-time-value w50">
      <div class="wrap">
        <div class="inner">
          <div class="clock-canvas" id="canvas-minutes"></div>
          <div class="text">
            <p class="val">0</p>
          </div>
        </div>
      </div>
    </div>
    <div class="clock-item clock-seconds countdown-time-value w50">
      <div class="wrap">
        <div class="inner">
          <div class="clock-canvas" id="canvas-seconds"></div>
          <div class="text">
            <p class="val">0</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>