
<div class="row case-icon-blocks">
  <div class="col-sm-4 case-icon-block"> 
    <div class="case-icon-block__icon"><img src="img/icon-block-img-1.png"/></div>
    <div class="case-icon-block__text">Научные
      развивающие наборы
      и опыты для детей
      по основным
      и естественным наукам 
       </div>
  </div>
  <div class="col-sm-4 case-icon-block"> 
    <div class="case-icon-block__icon"><img src="img/icon-block-img-2.png"/></div>
    <div class="case-icon-block__text">Познавательные
      развивающие игрушки,
      которые представляют
      для ребенка
      не только увлекательную,
      но и образовательную ценность.
       </div>
  </div>
  <div class="col-sm-4 case-icon-block"> 
    <div class="case-icon-block__icon"><img src="img/icon-block-img-3.png"/></div>
    <div class="case-icon-block__text">Непрерывная <br>
      образовательная траектория
      с «Научными развлечениями»
      от интерактивных экспонатов
      до роботизированных
      конструкторов
      с функцией
      «Интернет вещей»
       </div>
  </div>
</div>