.case-section.case-section-padding#case-section--04
  .container
    .row
      .col-sm-12
        .logo-block
          img(src="img/naumag-logo.png", alt="Naumag")
        .features-block
          .features-block-item
            .features-block-item__icon
              img(src="img/feature-icon-1.png")
            .features-block-item__text
              |Атом
          .features-block-separator
            |+
          .features-block-item
            .features-block-item__icon(src="img/feature-icon-2.png")
              img(src="img/feature-icon-2.png")
            .features-block-item__text
              |Наука
          .features-block-separator
            |+
          .features-block-item
            .features-block-item__icon(src="img/feature-icon-3.png")
              img(src="img/feature-icon-3.png")
            .features-block-item__text
              |Космос 
        
        .case-side-step-block.case-side-step-block--01
          .case-side-step-block__item
            .case-step
              .case-step__title.text-neon
                |Как мотивировать аудиторию на покупку 
              .case-step__text
                |Основная задача интернет-магазина заключается
                |в привлечении пользователей и рост продаж.
                |Одним красивым параллаксом сыт не будешь,
                |поэтому мы внедрили видео-ролики
                |с научными экспериментами,
                |чтобы заинтересовывать аудиторию
                |и мотивировать на покупку.
          .case-side-step-block__item.case-video-container.case-video-container--01
            img.case-side-step-block__img.case-side-step-block__img--1(src="img/side-img-1.png", alt="phone")
            video.case-video.case-video--01(muted, autoplay="true", loop="true")
              source(src="files/video-1.mp4")

        .case-side-step-block.case-side-step-block--02
          .case-side-step-block__item.case-video-container.case-video-container--02
            video.case-video.case-video--02(muted, autoplay="true", loop="true")
              source(src="files/video-2.mp4")
          .case-side-step-block__item
            .case-step
              .case-step__title.text-neon
                |Удобная навигация
              .case-step__text
                |Для удобства пользователей
                |научные наборы представлены по разделам.
                ul.case-step-list
                  li.case-step-list__item
                    .case-step-list__title
                      |По направлениям:
                    |астрономия, биология, физика, химия
                  li.case-step-list__item
                    .case-step-list__title
                      |По видам:
                    |развивающие, инженерные, познавательные игрушки, пазлы
                  li.case-step-list__item
                    .case-step-list__title
                      |По возрасту:
                    |5-6 лет, 7-8 лет, 9-10 лет, <br>
                    |11-12 лет, старше 13

