.case-section.case-section-padding#case-section--01
  .container
    .row
      .col-sm-12
        .case-main-title О клиенте
        .case-description
          | Интернет-магазин « 
          a.text-neon(href="#", target="_blank") НАУМАГ 
          |» — официальный магазин компании «Научные развлечения».
          |  На протяжении 25 лет компания разрабатывает уникальные наборы,
          |  ориентированные на развитие детского мышления
          |  и помогающие повысить школьную успеваемость.
    include ../components/icons-block.pug