.case-section#case-section--countdown
  .countdown-line
    .container
      .row
        .col-md-2
          a.case-back-link.text-neon(href="#") Назад
        .col-md-4.anounce-text
          | До первого полета человека
          br
          | на Марс осталось
        .col-md-6
          include ../components/countdown.pug 