.case-section.case-section-padding#case-section--05
  .container
    .row
      .col-sm-12
        .case-main-title
          |Результат
        .case-result-block
          .case-result-item
            .case-result-item__header
              .case-result-item__title
                |Эффект "ВАУ"
            .case-result-item__text
              |Космический дизайн сайта
              |с первых секунд
              |завладевает вниманием пользователей разных поколений и делает сайт запоминающимся.
          .case-result-item
            .case-result-item__header
              .case-result-item__title
                |Юзабилити
            .case-result-item__text
              p
                |Удобная навигация 
                |и видео-ролики способствуют 
                |принятию решения о покупке.
              p
                |Развивающие наборы представлены в единой образовательной траектории, что позитивно сказывается
                |на лояльности пользователей. 

          .case-result-item
            .case-result-item__header
              .case-result-item__title
                |Функционал
            .case-result-item__text
              |Интернет магазин “Наумаг” разработан на платформе Битрикс24.
              |На сайте можно оплатить заказ, оформить доставку
              |и отследить заказ 
              |по индивидуальному номеру.
