.case-section.case-section-padding#case-section--00
  .container
    .row.case-banner
      .col-lg-5
        .case-main-title.case-banner-title
          | Разработка
          |  интернет&nbsp;-&nbsp;магазина
          |  научных&nbsp;развлечений
          |  «Наумаг»
        .case-banner-text
          p «НАУМАГ» помогает растить детей умными!
      .col-lg-7
        img.case-banner-img(src="img/case-banner-img.png")
        img.case-banner-img.case-banner-img--mobile(src="img/case-banner-img-mobile.png")
    .row
      .col-sm-12
        a.case-link-external.case-banner-link(target="_blank" href="#") Интернет-магазин «НАУМАГ» 