-
  var steps = [
    `Повысить продажи образовательных наборов
    собственного производства компании «Научные развлечения».`,
    `Разработать интернет-магазин, 
    который объединит развивающие наборы в единую образовательную траекторию
    естественнонаучной направленности для детей от 4 до 15 лет.`,
    `Показать, что ребенок с детского сада и до выпускных экзаменов
    может заниматься дополнительным образованием
    с наборами от компании «Научные развлечения».`
  ]

.case-section.case-section-padding#case-section--02
  .container
    .row
      .col-sm-12
        .case-main-title Поставленная задача
        .case-steps-block.case-steps-block--01
          each step in steps
            .case-step
              .case-step__text !{step}