.case-section.case-section-padding#case-section--06
  .container
    .row
      .col-sm-12
        .case-slider-wrapper.js__case-slider-wrapper
          .case-slider.js__case-slider
            .case-slider__slide
              img(src="img/slide-1.png", alt="")
            .case-slider__slide
              img(src="img/slide-1.png", alt="")
            .case-slider__slide
              img(src="img/slide-1.png", alt="")
            .case-slider__slide
              img(src="img/slide-1.png", alt="")
            .case-slider__slide
              img(src="img/slide-1.png", alt="")
          .case-slider-arrows
          .case-slider-dots