-
  var n = 1
.case-decor-wrapper
  .container
    .row
      .col-sm-12.case-decor-container
        while n < 8
          img(src="img/decor/decor-" + (n++) + ".png", alt="", class="case-decor case-decor-" + n)