<section id="about-section--02">
  <div class="about-sm-banner">
    <div class="container-outer container-outer--fill-tablet relative">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 about-sm-banner__holder">
            <div class="about-sm-banner__block about-sm-banner__block--top">
              <div class="about-sm-banner__title">
                Получи возможность карьерного роста в&nbsp;динамично развивающейся компании!
              </div>
              <div class="about-sm-banner__text">
                Мы ждем всех, кто хочет стать частью нашей дружной команды и экспертом в области кофе!
              </div>
            </div>
            <div class="about-sm-banner__block about-sm-banner__block--bottom">
              <div class="about-sm-banner__title about-sm-banner__title--sm">
                Для записи <br class="lb-b-ipad"> на собеседование звони в&nbsp;любой день <br class="hidden-md hidden-sm hidden-xs"> с&nbsp;09:00 до&nbsp;19:00 или отправь нам&nbsp;свое резюме.
              </div>
              <div class="about-sm-banner__info">
                <span class="key">Email:</span>
                <span class="val">
                  <a href="mailto:komodcafe@mail.ru">komodcafe@mail.ru</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>