<section id="about-section--03">
  <div class="container-outer">
    <div class="franchising-block">
      <div class="container franchising-block__img-wrapper">
        <img src="img/about/franchising-girl.png" alt="">
      </div>
      <div class="franchising-block__top">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="franchising-block__content">
                  <div class="franchising-block__title">
                      Думаете о&nbsp;покупке франшизы кофейни «КОМОД»?
                  </div>
                  <div class="franchising-block__description">
                      Вы делаете правильный выбор!
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="franchising-block__bottom">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="franchising-block__content">
                <div class="franchising-block__text js__truncate--sm">
                    Мы помогаем подобрать подходящее под кофейню помещение, передаем право использования бренда, нашего меню и рецептуры авторских напитков, все маркетинговые материалы, планировку помещения и список отделочных материалов, список оборудования со специальными ценами для наших партнеров, расстановку оборудования, интерьерные и экстерьерные решения, требования к подбору персонала, порядок работы с контрагентами.
                </div>
                <div class="franchising-block__note">
                    И это еще далеко не все! <br> Хотите узнать больше?
                </div>
                <div class="franchising-block__note">
                  <span class="key">
                      Напишите нам:
                  </span>
                  <span class="val">
                    <a href="mailto:komodcafe@mail.ru">komodcafe@mail.ru</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>