{% set navTabs = [ { "title": "О нас", "href": "#about-section--01" }, { "title":
"Вакансии", "href": "#about-section--02" }, { "title": "Франшиза", "href":
"#about-section--03" }, { "title": "Галерея", "href": "#about-section--04" } ] %}
<div class="container-outer container-outer--fill-tablet">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="nav-tabs">
          {% for item in navTabs %}
            <a href="{{ item.href }}" class="nav-tab js__anchor">{{ item.title }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<section class="common-section" id="about-section--01">
  <div class="container-outer container-outer--fill-tablet">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="common-title">О нас</h2>

          <div class="about-slider-block">
            <div class="about-slider-block__slider js__about-slider-wrapper">
              <div class="js__about-slider">
                <div class="about-slide">
                  <div class="about-slide__title">
                    Кофейня «Комод» была основана группой творческих людей в
                    2014 году.
                  </div>
                  <div class="about-slide__text">
                    <p> 
                      На ее создание вдохновило стремление ко всему интересному
                      и новаторскому, а также большая любовь к кофе.
                    </p>
                    <p class="hidden-xs js__more-less--item">
                      Наша команда – это профессионалы своего дела, бариста
                      мастерски приготовят классический напиток или оригинальный
                      кофеины коктейль с особым трепетом и любовью к каждому
                      гостю.
                    </p>
                    <p class="hidden-xs js__more-less--item">
                      Наш шеф-бариста с особой тщательностью и прорабатывает
                      каждый рецепт чтобы получить идеальное сочетание.
                    </p>
                    <a href="#" class="about-slide__more js__more-less">
                      <span class="more">
                        Читать дальше...
                      </span>
                      <span class="less">
                        Скрыть
                      </span>
                    </a>
                  </div>
                </div>
                <div class="about-slide">
                  <div class="about-slide__title">
                    Кофейня «Комод» была основана группой творческих людей в
                    2014 году.
                  </div>
                  <div class="about-slide__text">
                    <p>
                      На ее создание вдохновило стремление ко всему интересному
                      и новаторскому, а также большая любовь к кофе.
                    </p>
                    <p class="hidden-xs js__more-less--item">
                      Наша команда – это профессионалы своего дела, бариста
                      мастерски приготовят классический напиток или оригинальный
                      кофеины коктейль с особым трепетом и любовью к каждому
                      гостю.
                    </p>
                    <p class="hidden-xs js__more-less--item">
                      Наш шеф-бариста с особой тщательностью и прорабатывает
                      каждый рецепт чтобы получить идеальное сочетание.
                    </p>
                    <a href="#" class="about-slide__more js__more-less">
                      <span class="more">
                        Читать дальше...
                      </span>
                      <span class="less">
                        Скрыть
                      </span>
                    </a>
                  </div>
                </div>
                <div class="about-slide">
                  <div class="about-slide__title">
                    Кофейня «Комод» была основана группой творческих людей в
                    2014 году.
                  </div>
                  <div class="about-slide__text">
                    <p>
                      На ее создание вдохновило стремление ко всему интересному
                      и новаторскому, а также большая любовь к кофе.
                    </p>
                    <p class="hidden-xs js__more-less--item">
                      Наша команда – это профессионалы своего дела, бариста
                      мастерски приготовят классический напиток или оригинальный
                      кофеины коктейль с особым трепетом и любовью к каждому
                      гостю.
                    </p>
                    <p class="hidden-xs js__more-less--item">
                      Наш шеф-бариста с особой тщательностью и прорабатывает
                      каждый рецепт чтобы получить идеальное сочетание.
                    </p>
                    <a href="#" class="about-slide__more js__more-less">
                      <span class="more">
                        Читать дальше...
                      </span>
                      <span class="less">
                        Скрыть
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="about-slider-nav">
                <div class="about-slider-nav__content">
                  <div class="about-slider-nav__num js__about-slider--num">01</div>
                  <div class="about-slider-nav__controls">
                    <div class="about-slider-nav__prev slick-prev js__about-slider--prev slick-arrow">
                      <div class="ico-wrapper">
                        <object>
                          <svg class="ico ico-arrow-left">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#ico-arrow-left"></use>
                          </svg>
                        </object>
                      </div>
                    </div>
                    <div class="about-slider-nav__dots js__about-slider--dots"></div>
                    <div class="about-slider-nav__next slick-next js__about-slider--next slick-arrow">
                      <div class="ico-wrapper">
                        <object>
                          <svg class="ico ico-arrow-right">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#ico-arrow-right"></use>
                          </svg>
                        </object>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="about-slider-block__right">
              <img src="img/about/about-slider-right-img.png" alt="" class="about-slider-block__img" />
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
