<header class="js__header header">
  <div class="container">
    <div class="header__align">
      <a href="#" class="header__logo-wrapper">
        <img src="img/header-logo.svg" alt="logo" class="header__logo">
      </a>
      <nav class="header__nav">
        <ul class="header__nav-list header-nav-list">
          <li class="header-nav-list__item">
            <a href="#" class="header-nav-list__link">О нас</a>
          </li>
          <li class="header-nav-list__item">
            <a href="#" class="header-nav-list__link">Вакансии</a>
          </li>
          <li class="header-nav-list__item">
            <a href="#" class="header-nav-list__link">Партнёрам</a>
          </li>
        </ul>
      </nav>
      <button class="js__burger header__burger burger"></button>
    </div>
  </div>
</header>