<div class="banner-slider-wrapper js__slider-banner-wrapper">
  <div class="js__slider-banner">
    <div id="main-banner--01" class="banner banner--fullscreen banner--img-right banner--theme-1" data-slide-theme="1">
      <div class="banner-circle js__slide-delay"></div>
      <div class="container-outer banner__holder">
        <div class="banner__content js__slide-delay">
          <div class="banner__title banner__title--lg banner__title--uppercase">Комод</div>
          <div class="banner__description">Место встречи и общения</div>
          <a href="#" class="btn btn--common">Узнать о нас</a>
        </div>
        <img src="img/main/banner-img-1.png" alt="" class="banner__img banner__img--bottom js__slide-delay">
      </div>
    </div>
    <div id="main-banner--02" class="banner banner--fullscreen banner--img-right banner--theme-2" data-slide-theme="2">
      <div class="banner-circle js__slide-delay"></div>
      <div class="container-outer banner__holder">
        <div class="banner__content js__slide-delay">
          <div class="banner__title">Растительное молоко</div>
          <div class="banner__description">В&nbsp;ваших <br class="lb-b-sm"> любимых <br class="lb-b-sm"> напитках</div>
          <ul class="banner__list">
            <li>Овсяное</li>
            <li>Кокосовое</li>
            <li>Миндальное</li>
            <li>Соевое</li>
          </ul>
        </div>
        <img src="img/main/banner-img-2.png" alt="" class="banner__img banner__img--top js__slide-delay">
      </div>
    </div>
  </div>

  <div class="container-outer relative">
    <div class="banner-slider-nav js__slider-banner--nav" data-nav-theme="1">
      <div class="banner-slider-nav__item banner-slider-nav__item--left">
        <div class="banner-slider-nav__num js__slider-banner--num">01</div>
        <div class="banner-slider-nav__dots js__slider-banner--dots"></div>
      </div>
      <div class="banner-slider-nav__item banner-slider-nav__item--right">
        <div class="banner-slider-nav__buttons">
          <div class="banner-slider-nav__prev slick-prev js__slider-banner--prev">
            <div class="ico-wrapper">
              <object>
                <svg class="ico ico-arrow-left">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#ico-arrow-left"></use>
                </svg>
              </object>
            </div>
          </div>
          <div class="banner-slider-nav__next slick-next js__slider-banner--next">
            <div class="ico-wrapper">
              <object>
                <svg class="ico ico-arrow-right">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#ico-arrow-right"></use>
                </svg>
              </object>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>