<section class="common-section" id="main-section--01">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="common-title">Новинки сезона</h2>
      </div>
    </div>
  </div>
  <div class="container-outer relative js__products-slider-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="products-slider js__products-slider">

            <div class="product-card">
              <div class="product-card__img">
                <img src="img/main/product-1.png" alt="">
              </div>
              <div class="product-card__content">
                <div class="product-card__title">Oreo</div>
                <div class="product-card__description">холодный кофе</div>
                <div class="product-card__text">
                    Нежный и изысканный напиток, который заставит испытывать Вас нескончаемый экстаз.
                </div>
                <div class="product-card__footer">
                  <div class="product-card__label">Цена:</div>
                  <div class="product-card__price">
                    <span class="price-num">190</span>
                    <span class="price-rub">руб.</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-card">
              <div class="product-card__img">
                <img src="img/main/product-2.png" alt="">
              </div>
              <div class="product-card__content">
                <div class="product-card__title">Сансет</div>
                <div class="product-card__description">лимонад</div>
                <div class="product-card__text">
                    Фирменный арбузный лимонад с добавлением тайского чая «Анчан», который взбодрит и освежит Вас в знойный летний день.
                </div>
                <div class="product-card__footer">
                  <div class="product-card__label">Цена:</div>
                  <div class="product-card__price">
                    <span class="price-num">190</span>
                    <span class="price-rub">руб.</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-card">
              <div class="product-card__img">
                <img src="img/main/product-3.png" alt="">
              </div>
              <div class="product-card__content">
                <div class="product-card__title">Гляссе</div>
                <div class="product-card__description">Карамельный</div>
                <div class="product-card__text">
                    Наш карамельный гляссе можно было бы прировнять к десерту, если бы не изысканный эспрессо. Готовится с ванильным мороженым, но если очень хочется, то ты можешь попросить шоколадное или клубничное.
                </div>
                <div class="product-card__footer">
                  <div class="product-card__label">Цена:</div>
                  <div class="product-card__price">
                    <span class="price-num">190</span>
                    <span class="price-rub">руб.</span>
                  </div>
                  <div class="product-card__footer">
                    <div class="product-card__label">Цена:</div>
                    <div class="product-card__price">
                      <span class="price-num">190</span>
                      <span class="price-rub">руб.</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="product-card">
                <div class="product-card__img">
                  <img src="img/main/product-1.png" alt="">
                </div>
                <div class="product-card__content">
                  <div class="product-card__title">Oreo</div>
                  <div class="product-card__description">холодный кофе</div>
                  <div class="product-card__text">
                      Нежный и изысканный напиток, который заставит испытывать Вас нескончаемый экстаз.
                  </div>
                  <div class="product-card__footer">
                    <div class="product-card__label">Цена:</div>
                    <div class="product-card__price">
                      <span class="price-num">190</span>
                      <span class="price-rub">руб.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-card">
                <div class="product-card__img">
                  <img src="img/main/product-2.png" alt="">
                </div>
                <div class="product-card__content">
                  <div class="product-card__title">Сансет</div>
                  <div class="product-card__description">лимонад</div>
                  <div class="product-card__text">
                      Фирменный арбузный лимонад с добавлением тайского чая «Анчан», который взбодрит и освежит Вас в знойный летний день.
                  </div>
                  <div class="product-card__footer">
                    <div class="product-card__label">Цена:</div>
                    <div class="product-card__price">
                      <span class="price-num">190</span>
                      <span class="price-rub">руб.</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product-card">
                <div class="product-card__img">
                  <img src="img/main/product-3.png" alt="">
                </div>
                <div class="product-card__content">
                  <div class="product-card__title">Гляссе</div>
                  <div class="product-card__description">Карамельный</div>
                  <div class="product-card__text">
                      Наш карамельный гляссе можно было бы прировнять к десерту, если бы не изысканный эспрессо. Готовится с ванильным мороженым, но если очень хочется, то ты можешь попросить шоколадное или клубничное.
                  </div>
                  <div class="product-card__footer">
                    <div class="product-card__label">Цена:</div>
                    <div class="product-card__price">
                      <span class="price-num">190</span>
                      <span class="price-rub">руб.</span>
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>
      </div>
    </div>

    <div class="products-slider-nav">
      <div class="js__products-slider--prev products-slider-nav__prev slick-prev slick-arrow">
        <div class="ico-wrapper">
          <object>
            <svg class="ico ico-arrow-left">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#ico-arrow-left"></use>
            </svg>
          </object>
        </div>
      </div>
      <div class="js__products-slider--next products-slider-nav__next slick-next slick-arrow">
        <div class="ico-wrapper">
          <object>
            <svg class="ico ico-arrow-right">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#ico-arrow-right"></use>
            </svg>
          </object>
        </div>
      </div>
    </div>

  </div>
</section>