<section class="cashback-section cashback" id="main-section--02">
  <div class="cashback__content-wrapper">
    <div class="container-outer">
      <div class="cashback__content">
        <div class="cashback__title">Cashback <span class="asterisk">*</span></div>
        <div class="cashback__description">
          после каждой покупки
        </div>
        <a href="#" class="btn btn--common cashback__link">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="container-outer relative">
    <div class="cashback__img">
      <img src="img/main/cashback-img.png" alt="">
    </div>
    <div class="cashback__note">
      *Кешбек – возврат средств
    </div>
  </div>
</section>