html, body {
    font-family: $main-font;
}

.wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.common-section {
  padding-top: 65px;
}

.slick-slide {
  outline: none!important;
}

.nav-tabs {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  @include r-b(ipad) {
    padding-top: 35px;
  }
  @include r-b(sm) {
    display: none;
  }
}

.nav-tab {
  color: #F2AB01;
  font-size: 36px;
  line-height: 45px;
  border-bottom: 2px solid transparent;
  &:hover, &:focus {
    border-color: #F2AB01;
    color: #F2AB01;
    text-decoration: none;
  }
}