.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  &__container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .hamburger {
    display: none;
  }
}

.header-nav {
  &__list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    width: 882px;
    max-width: calc(100% - 150px);
    justify-content: space-between;
    margin-left: auto;
    padding-top: 32px;
  }
  &__link {
    color: #fff;
    font-size: 24px;
    line-height: 31px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    &:hover {
      border-color: #fff;
      color: #fff;
      text-decoration: none;
    }
  }
}

.header-logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 121px;
  &-wrapper {
    padding-left: inherit;
    display: block;
    position: relative;
  }
}

.hamburger {
  z-index: 11;
}

.content-overlay {
  display: none;
}

@include r-b(ipad) {
  .header-nav {
    &__list {
      margin-top: 0;
      width: 643px;
    }
    &__link {
      font-size: 18px;
      line-height: 23px;
    }
  }

  .header-logo {
    width: 88px;
  }
}

@include r-b(sm) {
  .header {
    position: relative;
    .hamburger {
      display: block;
      position: absolute;
      top: 5px;
      right: 5px;
      outline: none!important;
    }
  }

  .header-logo {
    width: 50px;
  }

  .header-nav {
    display: none;
    position: absolute;
    right: -1px; // just in case
    top: -1px;
    z-index: 10;
    &__list {
      flex-direction: column;
      max-width: initial;
      width: auto;
      padding: 67px 44px 59px 41px;
      background-color: #fff;
      border-radius: 0 0 0 22px;
      overflow: hidden;
      position: relative;
      z-index: 1;
    }
    &__list-item {
      &:not(:first-child) {
        margin-top: 19px;
      }
    }
    &__link {
      color: #000;
      font-size: 24px;
      line-height: 31px;
    }
  }

  .content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#391D1C, .7);
    z-index: 10;
  }

  .mobile-menu-open {
    .header-nav {
      display: block;
    }
    .content-overlay {
      display: block;
    }
  }
}