{% extends "templates/main.html" %}

{% block content %}

  <main class="main-page">

    {% include 'components/main-page/banner.html' %}

    {% include 'components/main-page/about.html' %}

    {% include 'components/main-page/goals.html' %}

    {% include 'components/main-page/products.html' %}

    {% include 'components/main-page/reviews.html' %}

    {% include 'components/main-page/partners.html' %}

    {% include 'components/main-page/thanks.html' %}

    {% include 'components/main-page/press.html' %}

    {% include 'components/main-page/subscribe.html' %}

    {% include 'components/main-page/feedback.html' %}

    {% include 'components/main-page/comment-popup.html' %}

    {% include 'components/main-page/press-popup.html' %}

    {% include 'components/main-page/apply-popup.html' %}

  </main>

{% endblock %}