//Variables

//colors
$yellow: #fedd6a;
$blue: #00e5fd;

//dimensions
$container-content-width: 940px;
$gutter-width: 20px;
$container-width: $container-content-width + $gutter-width;

//fonts
$main-font: "FuturaFuturisC", sans-serif;