{%
  set addresses = [
    {
      "title": "308034, г. Белгород, <br> ул. Костюкова, 69",
      "phone": "+7 (920) 559-40-40",
      "mail": "komod_31@mail.ru",
      "coords": {
        "lat": "50.577519",
        "lng": "36.592855"
      },
      "isActive": true
    },
    {
      "title": "308000 г. Белгород, <br> пр-д. Театральный, 1",
      "phone": "+7 (920) 559-74-74",
      "mail": "komod-2_31@mail.ru",
      "coords": {
        "lat": "50.593670",
        "lng": "36.585363"
      }
    },
    {
      "title": "443001 г. Самара, <br> ул. Галактионовская, 130",
      "phone": "+7 265-56-56",
      "mail": "komod_63@mail.ru",
      "coords": {
        "lat": "53.201235",
        "lng": "50.110829"
      }
    }
  ]
%}

<section class="common-section" id="contacts-section--02">
  <div class="map-wrapper">
    <div class="map" id="map"></div>
    <div class="map-content">
      <div class="map-content__holder">
        <div class="map-content__title">Мы на карте</div>
        <div class="map-content__description">
          Заходи в наши кофейни <br />
          за ароматным кофе, уютной <br />
          атмосферой и хорошим настроением.
        </div>
  
        <ul class="map-content__list">
          {% for item in addresses %}
            <li class="map-content__list-item map-item {% if item.isActive %}active{% endif %} js__map-item"
              data-lat="{{item.coords.lat}}" data-lng="{{item.coords.lng}}">
              <div class="map-item__icon">
                <div class="ico-wrapper">
                  <object>
                    <svg class="ico ico-mail">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#ico-marker"></use>
                    </svg>
                  </object>
                </div>
              </div>
              <div class="map-item__content">
                <div class="map-item__title">
                  {{item.title | safe}}
                </div>
                <div class="map-item__info">
                  <div>
                    <span class="key">Телефон:</span>
                    <span class="val">
                      <a href="tel:{{item.phone}}">{{item.phone}}</a>
                    </span>
                  </div>
                  <div>
                    <span class="key">E-Mail:</span>
                    <span class="val">
                      <a href="mailto:{{item.mail}}">{{item.mail}}</a>
                    </span>
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
