<section class="common-section" id="contacts-section--01">
  <div class="container">
    <div class="container-outer container-outer--fill-tablet">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="common-title">Свяжись с нами</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container-outer container-outer--fill-tablet feedback-block-outer">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="feedback-block">
              <div class="feedback-block__half feedback-block__half--left">
                <div class="feedback-block__title">Форма связи</div>
                <div class="feedback-block__description">
                  Для комфортной обратной связи заполните данную форму, после <br class="visible-sm"> чего мы свяжемся с Вами.
                </div>
                <div class="feedback-form-wrapper">
                  <form action="/" class="feedback-form" id="feedback-form">
                    <div class="field-group">
                      <div class="field-group__label field-group__label--required">Цель обращения</div>

                      <div class="select select--common js__select">
                        <input type="text" class="js__select--result" hidden>
                        <div class="select__header ">
                          <span class="js__select--insert">По вопросам рекламы</span>
                        </div>
                        <div class="select__body js__select--body">
                          <div class="select__option js__select--option" data-select="По вопросам рекламы">По вопросам рекламы</div>
                          <div class="select__option js__select--option" data-select="По вопросам поставок">По вопросам поставок</div>
                          <div class="select__option js__select--option" data-select="По вопросам аренды">По вопросам аренды</div>
                          <div class="select__option js__select--option" data-select="По финансовым вопросам">По финансовым вопросам</div>
                        </div>
                      </div>
                    </div>
                    <div class="field-group">
                      <div class="field-group__label field-group__label--required">Имя</div>
                      <input type="text" class="field-group__input field-group__input--text">
                    </div>
                    <div class="field-group">
                      <div class="field-group__label field-group__label--required">E-Mail</div>
                      <input type="text" class="field-group__input field-group__input--text">
                    </div>
                    <div class="field-group">
                      <div class="field-group__label">Сообщение</div>
                      <textarea class="field-group__input field-group__input--textarea"></textarea>
                    </div>

                    <input type="submit" class="btn btn--common feedback-form__submit" value="Отправить">
                  </form>
                </div>
              </div>
              <div class="feedback-block__half feedback-block__half--right">
                <ul class="contacts-list">
                  <li class="contacts-list__item contacts-item">
                    <div class="contacts-item__icon">
                      <div class="ico-wrapper">
                        <object>
                          <svg class="ico ico-mail">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#ico-mail"></use>
                          </svg>
                        </object>
                      </div>
                    </div>
                    <div class="contacts-item__content">
                      <div class="contacts-item__name">Наш E-Mail</div>
                      <a href="mailto:komodcafe@mail.ru" class="contacts-item__value">komodcafe@mail.ru</a>
                    </div>
                  </li>
                  <li class="contacts-list__item contacts-item">
                    <div class="contacts-item__icon">
                      <div class="ico-wrapper">
                        <object>
                          <svg class="ico ico-phone">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#ico-phone"></use>
                          </svg>
                        </object>
                      </div>
                    </div>
                    <div class="contacts-item__content">
                      <div class="contacts-item__name">Наш телефон</div>
                      <a href="tel:+79205594040" class="contacts-item__value">+7 (920) 559-40-40</a>
                    </div>                  
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>