/* Block */
.about-slider-block {
  display: flex;
  box-shadow: 7px 13px 30px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  height: 780px;
  background: linear-gradient(180deg, #DD4658 69.04%, #DE6E81 99.86%);
  margin-top: 34px;
  overflow: hidden;
  &__slider {
    width: 50%;
    background-color: #fff;
    position: relative;
  }
  &__right {
    width: 50%;
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 451px;
      height: 451px;
      border-radius: 50%;
      background-color: #BDFDF9;
      top: 120px;
      left: 40px;
    }
  }
  &__img {
    position: absolute;
    bottom: 0;
    left: 54px;
    max-width: 100%;
    width: 363px;
  }
}

@include r-b(sm) {
  .about-slider-block {
    height: auto;
    box-shadow: none;
    margin-top: 15px;
    &__right {
      display: none;
    }
    &__slider {
      width: 100%;
    }
  }
}
/* !Block */

/* Slide */
.about-slide {
  padding: 53px 90px 180px 79px;
  overflow: hidden;
  &__title {
    font-size: 36px;
    line-height: 30px;
  }
  &__text {
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    margin-top: 23px;
    p {
      margin: 20px 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__more {
    display: none;
    margin-top: 16px;
    color: #F2AB01;
    text-decoration: underline;
    font-size: 18px;
    line-height: 22px;
    outline: none!important;
    &:hover, &:focus {
      text-decoration: none;
      color: #F2AB01;
    }
    .more {
      display: block;
    }
    .less {
      display: none;
    }
  }
}

@include r-b(md) {
  .about-slide {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@include r-b(sm) {
  .about-slide {
    padding: {
      left: 0;
      right: 0;
      top: 0;
      bottom: 125px;
    }
    &__title {
      font-size: 24px;
      line-height: 30px;
      font-weight: 700;
    }
    &__text {
      font-size: 24px;
      line-height: 30px;
      margin-top: 31px;
      p {
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &__more {
      display: inline-block;
    }
  }
}
/* !Slide */

/* Navigation */
.about-slider-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding-bottom: 29px;
  &__content {
    margin: 0 auto;
  }
  &__controls {
    display: flex;
    align-items: center;
  }
  &__dots {
    * {
      outline: none!important;
    }
    ul {
      padding-left: 0;
      list-style-type: none;
      margin: 0 25px;
      padding-bottom: 7px;
      li {
        display: inline-block;
        &.slick-active {
          button {
            background-color: #DD4658;
          }
        }
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
      button {
        background: transparent;
        font-size: 0;
        width: 10px;
        height: 10px;
        line-height: 0;
        border: 1px solid #DD4658;
        border-radius: 50%;
        display: block;
        padding: 0;
        transition: .3s ease;
      }
    }
  }
  &__num {
    font-size: 48px;
    line-height: 22px;
    font-weight: 700;
    color: #DD4658;
    opacity: 0.5;
    transition: .3s ease;
    text-align: center;
    margin-bottom: 10px;
  }
  .slick-arrow {
    width: 35px;
    height: 35px;
    color: #fff;
    border-radius: 50%;
    background-color: #DD4658;
    padding: 9px;
    display: inline-block;
    cursor: pointer;
    transition: .3s ease;
    &.slick-prev {
      padding-right: 11px;
    }
    &.slick-next {
      padding-left: 11px;
    }
    * {
      width: 100%;
      height: 100%;
    }
  }
}
/* !Navigation */