/* Banner itself */
.banner {
  color: #fff;
  position: relative;
  overflow: hidden;
  height: 600px;
  .banner-circle {
    width: 540px;
    height: 540px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
  }
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
  }
  &:before {
    background: linear-gradient(90deg, #EEB64A 16.15%, #F3C963 100%);
    left: 0;
    width: 70%;
  }
  &:after {
    background: linear-gradient(270deg, #DD4658 18.75%, #DE6E81 100%);
    right: 0;
    width: 30%;
  }
  &__holder {
    position: relative;
    height: 100%;
    z-index: 2;
  }
  &__content {
    padding: inherit;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    .btn {
      margin-top: 26px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 144px;
    line-height: 120px;
    margin-left: -8px;
    &--lg {
      font-size: 176px;
      margin-bottom: 10px;
      margin-left: -10px;
    }
    &--uppercase {
      text-transform: uppercase;
    }
    .visible-mobile {
      display: none;
    }
  }
  &__description {
    font-size: 36px;
    font-weight: 300;
  }
  &__list {
    padding-left: 0;
    font-size: 48px;
    line-height: 50px;
    list-style-type: none;
    margin: 15px 0 0;
  }
  &__img {
    position: absolute;
    max-height: 100%;
    img {
      max-height: 100%;
    }
    &--bottom {
      bottom: 0;
    }
    &--top {
      top: 0;
    }
  }
  &--fullscreen {
    height: 100vh;
    min-height: 780px;
    //max-height: 1080px;
    max-height: 900px;
  }
  &--img-right {
    &:before {
      width: calc(50% + 240px);
    }
    &:after {
      width: calc(50% - 240px);
    }
    .banner {
      &__img {
        right: 0;
      }
    }
  }
  &--img-left {
    &:before {
      width: calc(50% - 240px);
    }
    &:after {
      width: calc(50% + 240px);
    }
    .banner {
      &__img {
        left: 0;
      }
      &__title {
        &--lg {
          margin-right: -10px;
        }
      }
      &__content {
        left: auto;
        right: 0;
      }
    }
  }
  &--theme-1 {
    &:before {
      background: linear-gradient(90deg, #EEB64A 16.15%, #F3C963 100%);
    }
    &:after {
      background: linear-gradient(270deg, #DD4658 18.75%, #DE6E81 100%);
    }
    .banner-circle {
      background-color: #BDFFFB;
    }
  }
  &--theme-2 {
    &:before {
      background: linear-gradient(270deg, #DE6E81 0%, #DD4658 77.08%);
    }
    &:after {
      background: linear-gradient(90deg, #F3C963 0%, #EEB64A 60.94%);
    }
    .banner-circle {
      background-color: #663B3A;
    }
  }
  &--theme-3 {
    &:before {
      background: #BDFDF9;
    }
    &:after {
      background: linear-gradient(90deg, #F3C963 0%, #EEB64A 60.94%);
    }
    .banner-circle {
      background-color: #DD5E71;
    }
  }
  &--theme-4 {
    &:before {
      background: linear-gradient(90deg, #382121 -0.94%, #5C3836 100%);
    }
    &:after {
      background: linear-gradient(90deg, #F3C963 0%, #EEB64A 60.94%);
    }
    .banner-circle {
      background: #DD5E71;
    }
  }
  &--theme-5 {
    &:before {
      background: linear-gradient(270deg, #DE6E81 -4.93%, rgba(221, 70, 88, 0.78) 18.04%, #DD4658 81.32%);
    }
    &:after {
      background: linear-gradient(89.53deg, #5C3836 74.52%, #382121 128.24%);
    }
    .banner-circle {
      background: #F3C963;
    }
  }
}

.js__slide-delay {
  opacity: 0;
  transition: .3s ease;
}

@include r-b(ipad) {
  .banner {
    height: 430px;
    &--fullscreen {
      height: 640px;
      min-height: 0;
    }
    .banner-circle {
      width: 400px;
      height: 400px;
    }
    &__title {
      font-size: 96px;
      line-height: 80px;
      margin-left: 0;
      &--lg {
        font-size: 136px;
        line-height: 70px;
        margin-left: 0;
      }
    }
    &__description {
      font-size: 24px;
    }
    &__list {
      font-size: 36px;
    }
    &--img-right {
      &:before {
        width: calc(50% + 168px);
      }
      &:after {
        width: calc(50% - 166px);
      }
      .banner-circle {
        left: calc(50% + 168px);
      }
    }
    &--img-left {
      &:before {
        width: calc(50% - 168px);
      }
      &:after {
        width: calc(50% + 166px);
      }
      .banner {
        &__title {
          &--lg {
            margin-right: -8px;
          }
        }
      }
    }
  }
}

@include r-b(sm) {
  .banner {
    height: 220px;
    &__img {
      display: none;
    }
    &--fullscreen {
      height: 570px;
      .banner-circle {
        display: none;
      }
      .banner {
        &__img {
          display: block;
        }
      }
    }
    &__content {
      top: 110px;
      height: 340px;
      transform: none;
      .btn {
        position: absolute;
        bottom: 0;
      }
    }
    &__title {
      font-size: 36px;
      line-height: 30px;
      &--lg {
        font-size: 56px;
        line-height: 38px;
      }
      .visible-mobile {
        display: block;
      }
      .visible-desktop {
        display: none;
      }
    }
    &__description {
      font-size: 18px;
    }
    &__list {
      font-size: 24px;
      line-height: 30px;
    }
    &--img-right {
      &:before {
        width: calc(50% + 50px);
      }
      &:after {
        width: calc(50% - 50px);
      }
    }
    &--img-left {
      &:before {
        width: calc(50% - 50px);
      }
      &:after {
        width: calc(50% + 50px);
      }
      .banner {
        &__content {
          right: auto;
          left: 0;
        }
        &__title {
          &--lg {
            margin-right: 0;
          }
        }
      }
    }
  }
}
/* !Banner itself */

/* Slider */
.banner-slider-nav {
  position: absolute;
  padding: inherit;
  left: 0;
  width: 100%;
  bottom: 50px;
  &__item {
    &--left {
      float: left;
    }
    &--right {
      position: absolute;
      right: 0;
      padding: inherit;
      bottom: 6px;
    }
  }
  &__dots {
    * {
      outline: none!important;
    }
    ul {
      padding-left: 0;
      list-style-type: none;
      li {
        display: inline-block;
        &.slick-active {
          button {
            background-color: #DD4658;
          }
        }
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
      button {
        background: transparent;
        font-size: 0;
        width: 10px;
        height: 10px;
        line-height: 0;
        border: 1px solid #DD4658;
        border-radius: 50%;
        display: block;
        padding: 0;
        transition: .3s ease;
      }
    }
  }
  &__num {
    font-size: 48px;
    line-height: 22px;
    font-weight: 700;
    color: #DD4658;
    opacity: 0.5;
    transition: .3s ease;
  }
  &__buttons {
    .slick-arrow {
      width: 35px;
      height: 35px;
      color: #DD4658;
      border-radius: 50%;
      background-color: #FBC64C;
      padding: 9px;
      display: inline-block;
      cursor: pointer;
      transition: .3s ease;
      &.slick-prev {
        padding-right: 11px;
      }
      &.slick-next {
        padding-left: 11px;
      }
      &:first-child {
        margin-right: 35px;
      }
      * {
        width: 100%;
        height: 100%;
      }
    }
  }
  &[data-nav-theme="1"] {
    .banner-slider-nav {
      &__dots {
        ul {
          li {
            &.slick-active {
              button {
                background-color: #DD4658;
              }
            }
          }
          button {
            border-color: #DD4658;
          }
        }
      }
      &__num {
        color: #DD4658;
      }
      &__buttons {
        .slick-arrow {
          color: #DD4658;
          background-color: #FBC64C;
        }
      }
    }
  }
  &[data-nav-theme="2"] {
    .banner-slider-nav {
      &__dots {
        ul {
          li {
            &.slick-active {
              button {
                background-color: #F2BE43;
              }
            }
          }
          button {
            border-color: #F2BE43;
          }
        }
      }
      &__num {
        color: #F2BE43;
      }
      &__buttons {
        .slick-arrow {
          color: #FBC64C;
          background-color: #DD4658;
        }
      }
    }
  }
}

@include r-b(ipad) {
  .banner-slider-nav {
    bottom: 12px;
  }
}

@include r-b(sm) {
  .banner-slider-nav {
    &__item {
      &--left {
        margin: 0 auto;
        float: none;
        display: table;
      }
      &--right {
        display: none;
      }
    }
  }
}
/* !Slider */