.bonus-blocks-outer {
  position: relative;
  padding-bottom: 200px;
}

.bonus-section-note {
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  bottom: 27px;
  right: 10px;
}

.bonus-block {
  display: flex;
  position: relative;
  color: #000;
  min-height: 600px;
  &__img {
    position: absolute;
  }
  &__content {
    position: relative;
    z-index: 1;
  }
  &__title {
    font-size: 56px;
    line-height: 50px;
    font-weight: 700;
  }
  &__description {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    margin-top: 11px;
  }
  &__note {
    font-size: 18px;
    line-height: 20px;
    margin-top: 26px;
  }
  &__list {
    padding-left: 0;
    list-style-type: none;
    font-size: 24px;
    line-height: 27px;
  }
  &__list-item {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 25px;
      height: 25px;
      background-image: url(../img/arrow-right-ico.svg);
      background-size: 100%;
      background-repeat: no-repeat;
      top: 0;
      left: 0;
    }
    &:not(:first-child) {
      margin-top: 13px;
    }
    &.open {
      &:before {
        transform: rotate(90deg);
      }
    }
  }
  &__list-item-expand {
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    margin-top: 10px;
    cursor: initial;
    margin-left: -40px;
    max-width: 462px;
    p {
      margin: 16px 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--1 {
    .bonus-block {
      &__img {
        right: -92px;
        top: -18px;
      }
      &__content {
        max-width: 600px;
      }
    }
  }

  &--2 {
    margin-top: 200px;
    .bonus-block {
      &__img {
        left: -80px;
        top: -13px;
      }
      &__content {
        max-width: 550px;
        margin-right: -88px;
        margin-left: auto;
      }
    }
  }
}

@include r-b(lg) {
  .bonus-block {
    &--2 {
      .bonus-block {
        &__content {
          margin-right: 0;
        }
      }
    }
  }
}

@include r-b(ipad) {
  .bonus-blocks-outer {
    padding-bottom: 125px;
  }

  .bonus-section-note {
    bottom: 64px;
  }

  .bonus-block {
    &--2 {
      margin-top: 60px;
      .bonus-block {
        &__content {
          max-width: 465px;
        }
        &__img {
          left: -49px;
        }
      }
    }
  }
}

@include r-b(sm) {
  .bonus-block {
    min-height: 0;
    &__title {
      font-size: 24px;
      line-height: 30px;
    }
    &__img {
      display: none;
    }

    &--2 {
      margin-top: 28px;
      .bonus-block {
        &__content {
          max-width: 100%;
          margin-left: 0;
        }
      }
    }
  }

  .bonus-section-note {
    display: none;
  }

  .bonus-blocks-outer {
    padding-bottom: 48px;
  }
}