.feedback-block {
  display: flex;
  box-shadow: 7px 13px 30px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 34px;
  min-height: 780px;
  &__half {
    width: 50%;
    &--left {
      padding: 45px 92px 40px 79px;
      background: linear-gradient(90deg, #eeb64a 16.15%, #f3c963 100%);
      color: #fff;
    }
    &--right {
      padding: 32px; // just in case
      background-color: #fff;
      color: #000;
      position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        height: 0;
        padding-top: 88%;
        background-image: url(../img/contacts/feedback-img.png);
        background-size: 100% auto;
        background-position: center bottom;
        background-repeat: no-repeat;
      }
    }
  }
  &__title {
    font-size: 36px;
    line-height: 47px;
  }
  &__description {
    font-size: 18px;
    line-height: 20px;
    margin: 12px 0 34px;
  }

  .contacts-list {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    padding-right: 38px;
  }
}

.field-group {
  &:not(:first-child) {
    margin-top: 19px;
  }
  &__label {
    font-size: 24px;
    line-height: 31px;
    &--required {
      &:after {
        content: "*";
        color: #dd5e71;
      }
    }
  }
  &__input {
    display: block;
    width: 100%;
    background: #ffffff;
    border: 1px solid #969696;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    height: 40px;
    color: #b8b8b8;
    padding: 0 20px;
    font-size: 18px;
    &:focus {
      color: #000;
    }
    &--textarea {
      height: 110px;
      resize: none;
      padding-top: 10px;
    }
  }
}

.feedback-form {
  &__submit {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
}

.contacts-list {
  list-style-type: none;
  padding-left: 0;
  &__item {
    margin-top: 64px;
  }
}

.contacts-item {
  display: flex;
  align-items: center;
  &__icon {
    padding-right: 32px;
    .ico-wrapper {
      height: 52px;
      width: 32px;
      color: #000;
      * {
        height: 100%;
        max-width: 100%;
      }
    }
  }
  &__name {
    font-size: 24px;
    line-height: 31px;
    color: #000;
    margin-bottom: 5px;
    margin-left: -1px; // text aligning
  }
  &__value {
    color: #000;
    font-size: 18px;
    line-height: 21px;
    border-bottom: 1px solid transparent;
    font-weight: 300;
    &:hover,
    &:active {
      color: #000;
      border-color: #000;
      text-decoration: none;
    }
  }
}

@include r-b(md) {
  .feedback-block {
    &__half {
      &--left {
        padding-right: 42px;
        padding-left: 56px;
      }
    }
  }
}

@include r-b(ipad) {
  .feedback-form {
    &__submit {
      font-size: 24px;
      line-height: 31px;
      padding: 23px 46px;
    }
  }
}

@include r-b(sm) {
  .feedback-block {
    margin-top: 14px;
    min-height: initial;
    &__half {
      &--right {
        display: none;
      }
      &--left {
        width: 100%;
        padding: 7px 18px 64px 18px;
      }
    }
    &__description {
      margin-bottom: 24px;
    }
  }

  .feedback-block-outer {
    padding: 0;
  }

  .feedback-form {
    &__submit {
      font-size: 24px;
      line-height: 31px;
      padding: 23px 46px;
    }
  }
}
