.franchising-block {
  box-shadow: 7px 13px 30px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  &__img-wrapper {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    img {
      position: absolute;
      right: 0;
      bottom: 0;
      max-height: 95%;
    }
  }
  &__top {
    background: #fff;
    color: #000;
    padding: 37px 48px 13px;
  }
  &__bottom {
    background: linear-gradient(90deg, #EEB64A 16.15%, #F3C963 100%);
    color: #fff;
    padding: 14px 48px 29px;
  }
  &__content {
    max-width: 720px;
    position: relative;
    z-index: 1;
  }
  &__title {
    font-size: 56px;
    line-height: 50px;
    font-weight: 700;
    padding-left: 5px;
  }
  &__description {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    margin-top: 10px;
    padding-left: 8px;
  }
  &__text,
  &__note {
    padding-left: 9px;
  }
  &__text {
    font-size: 18px;
    line-height: 20px;
    max-width: 460px;
    .ellipsis-more {
      display: table;
      font-size: 18px;
      line-height: 22px;
      border-bottom: 1px solid #fff;
      margin-top: 15px;
    }
  }
  &__note {
    font-size: 24px;
    line-height: 30px;
    margin-top: 13px;
    .val {
      margin-left: 80px;
      font-weight: 300;
      a {
        color: #fff;
        border-bottom: 1px solid #fff;
        &:hover, &:active {
          color: #000;
          border-color: transparent
        }
      }
    }
  }
}

@include r-b(lg) {
  .franchising-block {
    &__img-wrapper {
      img {
        right: -176px;
      }
    }
  }
}

@include r-b(ipad) {
  .franchising-block {
    &__title,
    &__description,
    &__text,
    &__note {
      padding-left: 0;
    }
  }
}

@include r-b(sm) {
  .franchising-block-outer {
    padding: 0;
  }

  .franchising-block {
    &__img-wrapper {
      display: none;
    }
    &__top {
      padding: {
        top: 7px;
        left: 19px;
        right: 19px;
      };
    }
    &__title {
      font-size: 24px;
      line-height: 30px;
    }
    &__description {
      margin-top: 31px;
    }
    &__bottom {
      padding: {
        left: 20px;
        right: 20px;
      };
    }
    &__note {
      margin-top: 26px;
      .key {
        font-size: 18px;
        line-height: 22px;
      }
      .val {
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}

@include r-b(xs) {
  .franchising-block {
    &__note {
      .val {
        margin-left: 0;
        float: right;
        padding-top: 11px;
      }
    }
  }
}