.case-bottom {
  display: none !important;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../../fonts/Roboto/Roboto-Black.woff") format("woff"), url("../../fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

html,
body {
  min-width: 360px;
}

.case-wrapper {
  overflow-x: hidden;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 18px;
  color: #282828;
  min-width: 360px;
  background-color: #fff;
}

.relative {
  position: relative;
}

.slick-slide {
  outline: none !important;
}

.line-break--between-sm-lg {
  display: none;
}

.case-spacing {
  margin-top: 85px;
}

.case-banner-section {
  background: url(../img/banner-bg.jpg) #373f45 center bottom no-repeat;
  background-size: cover;
}

.case-banner-left {
  padding-top: 188px;
  position: relative;
  z-index: 1;
}

.case-banner-right {
  position: relative;
}

.case-banner-image {
  position: absolute;
  bottom: -32px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-left: 34px;
}

.case-phone {
  width: 465px;
  height: 934px;
  -webkit-transform: translateY(92px);
  transform: translateY(92px);
  margin: 0 auto;
  margin-right: 0;
  position: relative;
  z-index: 10;
  padding: 28px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.case-phone.transform {
  -webkit-transform: translateY(90%);
  transform: translateY(90%);
}

.case-phone__bg {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.case-banner-slider-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: inherit;
  opacity: 0;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

.transform .case-banner-slider-wrapper {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease 0.7s;
  transition: opacity 0.3s ease 0.7s;
}

.transform .case-banner-slider-screen {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease 0.5s;
  transition: opacity 0.3s ease 0.5s;
}

.case-banner-slider-screen {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: inherit;
  opacity: 0;
}

.case-banner-slider {
  position: absolute;
  left: 4px;
  right: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: inherit;
  z-index: 2;
}

.case-banner-slider__slide {
  padding: 0 24px;
  text-align: center;
  color: #282828;
}

.case-banner-slider__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 20px;
}

@supports (display: flex) {
  .case-banner-slider .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .case-banner-slider .slick-slide {
    height: auto !important;
  }

  .case-banner-slider .case-banner-slider__slide {
    height: 100%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

.case-banner-slider .slick-dots {
  font-size: 0;
  line-height: 0;
  text-align: center;
  padding-left: 0;
  margin-top: 20px;
}

.case-banner-slider .slick-dots li {
  display: inline-block;
}

.case-banner-slider .slick-dots li:not(:last-child) {
  margin-right: 8px;
}

.case-banner-slider .slick-dots li button {
  width: 0;
  height: 0;
  padding: 4px;
  border-radius: 50%;
  border: none;
  background-color: #dddddd;
}

.case-banner-slider .slick-dots li.slick-active button {
  background-color: #d84545;
}

.case-banner-slider-arrows {
  margin-top: 120px;
}

.case-slider-arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FDEDEE;
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: inline-block;
}

.case-slider-arrow:before {
  content: "";
  z-index: -1;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  bottom: 7px;
  left: 7px;
  right: 7px;
  background-color: #FADDDD;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.case-slider-arrow:hover:before {
  opacity: 0;
}

.case-slider-arrow:not(:first-child) {
  margin-left: 46px;
}

.case-slider-arrow .ico {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #d84545;
}

.case-slider-arrow--left .ico {
  margin-left: -2px;
}

.case-slider-arrow--right .ico {
  margin-left: 2px;
}

.case-main-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  margin-top: 0;
}

.case-main-title strong {
  color: #d84545;
}

.case-awards-block {
  margin-top: 47px;
}

.case-award {
  font-size: 15px;
  line-height: 18px;
  display: table;
  width: 100%;
}

.case-award:not(:last-child) {
  margin-bottom: 16px;
}

.case-award__img {
  display: table-cell;
  vertical-align: middle;
  width: 60px;
  min-width: 60px;
}

.case-award__img img {
  display: block;
  max-width: 100%;
}

.case-award__text {
  display: table-cell;
  vertical-align: middle;
  opacity: 0.7;
  padding-left: 26px;
}

.case-award__text strong {
  display: block;
}

.case-download-block {
  margin-top: 65px;
  white-space: nowrap;
  padding-left: 8px;
}

.case-download-block--sm {
  margin-top: 42px;
}

.case-download-block--sm .case-download-link {
  height: 47px;
}

.case-download-link {
  display: inline-block;
  vertical-align: top;
}

.case-download-link:not(:first-child) {
  margin-left: 20px;
}

.case-download-link img {
  display: block;
}

.case-download-link--vector {
  position: relative;
  height: 47px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  background-color: #000;
  padding: 5px 8px;
  border: 1px solid #000;
  border-radius: 6px;
}

.case-download-link--hover:hover {
  background-color: transparent;
  border-color: #fff;
}

.case-download-link--hover:hover .case-download-image-vector {
  opacity: 0;
}

.case-download-link--hover:hover .case-download-image-vector--hover {
  opacity: 1;
}

.case-download-image-vector {
  height: 100%;
  width: auto;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.case-download-image-vector--hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  padding: inherit;
}

.case-soc-block {
  margin-top: 40px;
}

.case-soc-block-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  padding-left: 9px;
}

.case-soc-block-list__item {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.case-soc-block-list__item .ico {
  width: 27px;
  height: 27px;
}

.case-soc-block-list__item:not(:first-child) {
  margin-left: 10px;
}

.case-soc-block-list__item:hover .case-soc-icon {
  opacity: 0;
}

.case-soc-block-list__item:hover .case-soc-icon--hover {
  opacity: 1;
}

.case-soc-block-list__link {
  display: block;
}

.case-soc-icon {
  opacity: 1;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  width: 100%;
}

.case-soc-icon--hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.case-about-section {
  background-color: #fff;
  padding: 193px 0 208px;
}

.text-white {
  color: #fff;
}

.case-title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
  margin-bottom: 24px;
  margin-top: 0;
}

.case-text {
  font-size: 24px;
  line-height: 47px;
}

.case-text strong {
  font-weight: 700;
}

.case-text--sm p {
  margin: 0 0 41px;
}

.case-text p:first-child {
  margin-top: 0;
}

.case-text p:last-child {
  margin-bottom: 0;
}

.case-numbers-section {
  padding: 83px 0 0;
  background-color: #D84545;
  background-image: url(../img/case-numbers-section.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.case-numbers-section:before {
  content: "";
  display: block;
  position: absolute;
  width: 609px;
  height: 609px;
  right: -198px;
  top: -198px;
  background: url(../img/ellipse-1.png) center no-repeat;
  background-size: contain;
}

.case-numbers-block {
  margin-top: 117px;
  padding: 0 16px;
  line-height: normal;
}

.num-block {
  position: relative;
  margin-bottom: 198px;
}

.num-block:before {
  content: "";
  width: 180px;
  height: 180px;
  display: block;
  position: absolute;
  background: rgba(253, 237, 238, 0.1);
  border-radius: 50%;
  top: -18px;
  left: 12px;
}

.num-block__content {
  padding-left: 98px;
  display: table;
}

.num-block__icon {
  position: absolute;
  left: 0;
  top: 9px;
}

.num-block__icon .ico {
  fill: none;
  width: 90px;
  height: 70px;
}

.num-block__number {
  display: table-cell;
  vertical-align: middle;
  font-weight: 900;
  font-size: 100px;
  padding-right: 15px;
}

.num-block__text {
  display: table-cell;
  vertical-align: middle;
  font-size: 25px;
  line-height: 31px;
}

.case-common-section {
  padding: 100px 0 82px;
  background-color: #fff;
}

.case-common-section--1 {
  position: relative;
  overflow: hidden;
}

.case-common-section--1:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 551px;
  height: 551px;
  background: url(../img/circle.png) center no-repeat;
  background-size: 100%;
  -webkit-transform: translate(-36%, -44%);
  transform: translate(-36%, -44%);
}

.case-common-section--1 > .relative {
  z-index: 2;
}

.white-bg {
  background-color: #fff;
}

.accent-bg {
  background-color: #dc5555;
}

.case-quote {
  color: #000;
  font-size: 18px;
  line-height: 33px;
  padding: 12px 20px 23px 24px;
  border-radius: 35px;
  border-top: 23px solid;
  border-bottom: 23px solid;
  border-left: 28px solid;
  border-right: 28px solid;
  border-color: #fdedee;
  position: relative;
  background-color: #fdedee;
  margin-bottom: 40px;
}

.case-quote:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fadddd;
  border-radius: 21px;
}

.case-quote:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 22px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 65px 65px 0 0;
  border-color: #fdedee transparent transparent transparent;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.case-quote__text {
  position: relative;
  z-index: 1;
}

.case-app-section {
  background-color: #c1d2da;
  color: #2e2e2e;
  background-image: url(../img/case-app-section-bg.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}

.case-app-section-bg {
  padding: 298px 0 314px;
  position: relative;
}

.case-app-section-bg:before,
.case-app-section-bg:after {
  content: "";
  display: block;
  position: absolute;
  left: -50px;
  width: 1340px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.case-app-section-bg:before {
  background-image: url(../img/case-app-bg-top.png);
  top: 0;
  padding-top: inherit;
  background-position-y: top;
}

.case-app-section-bg:after {
  background-image: url(../img/case-app-bg-bottom.png);
  bottom: 0;
  padding-bottom: inherit;
  background-position-y: bottom;
}

.case-app-block {
  margin-top: 132px;
}

.case-app-block__number {
  color: #d84545;
  font-size: 72px;
  font-weight: 700;
  line-height: 76px;
}

.case-app-block__text {
  font-size: 25px;
  line-height: 33px;
}

.case-magic-section {
  position: relative;
  background-image: url(../img/magic-section-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
}

.case-magic-section:after {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 551px;
  height: 551px;
  background: url(../img/circle.png) center no-repeat;
  background-size: 100%;
}

.case-magic-section .case-block {
  margin-top: 126px;
}

.case-magic-img-wrapper {
  position: relative;
}

.case-magic-img-wrapper:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 95px;
  width: 551px;
  height: 551px;
  background: url(../img/circle.png) center no-repeat;
  background-size: 100%;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}

.case-magic-img-wrapper img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.case-magic-img-wrapper .case-quote {
  width: 350px;
  border-radius: 40px;
  width: 307px;
  border-width: 18px;
  margin-bottom: 24px;
  text-align: center;
  font-size: 20px;
  padding-top: 27px;
}

.case-magic-img-wrapper .case-quote:after {
  border-width: 62px 51px 0 0;
  left: 13px;
}

.case-lk-section {
  background: url(../img/section-lk-bg--lg.png) right bottom no-repeat;
  background-color: #c1d2da;
}

.case-get-app-section .case-block {
  margin-top: 123px;
}

.case-result-section {
  overflow: hidden;
  background-image: url(../img/result-section-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.case-result-section .case-title {
  margin-bottom: 40px;
}

.case-result-section-bg-holder {
  padding-top: 84px;
  padding-bottom: 72px;
  position: relative;
  overflow: hidden;
}

.case-result-section-bg-holder:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/hoff.png) 15px bottom no-repeat;
  background-size: 100%;
  min-width: 732px;
}

.case-bullet {
  border-radius: 50%;
  position: relative;
  width: 55px;
  height: 55px;
  border: 6px solid #FDEDEE;
}

.case-bullet:before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border: inherit;
  border-radius: 50%;
  border-color: #FADDDD;
}

.case-result-list {
  font-size: 25px;
  line-height: 32px;
  list-style-type: none;
  padding-left: 0;
  margin-top: 33px;
}

.case-result-list__item {
  position: relative;
  padding-left: 96px;
}

.case-result-list__item:not(:first-child) {
  margin-top: 67px;
}

.case-result-list__item .case-bullet {
  position: absolute;
  left: 2px;
  top: 3px;
}

.case-letter-wrapper .case-bullet {
  position: absolute;
  right: 5px;
  top: 35px;
  width: 321px;
  height: 321px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-width: 37px;
}

.case-letter-link {
  display: inline-block;
  position: relative;
  margin-right: 25px;
}

.case-letter-link:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 36px);
  width: calc(100% + 11px);
  background-color: #D84545;
  -webkit-transform: translate(29px, 25px);
  transform: translate(29px, 25px);
}

.case-letter-img {
  position: relative;
  z-index: 1;
  display: block;
  max-width: 100%;
}

.js-transform-block--01,
.js-transform-block--02 {
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.js-transform-block--01.transform,
.js-transform-block--02.transform {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.js-transform-block--00-trigger {
  position: absolute;
  top: 0;
}

#case-section--07 {
  padding: 114px 0 120px;
}

#case-section--08 {
  padding: 122px 0 170px;
}

#case-section--10 {
  padding-bottom: 24px;
}

@media (min-width: 768px) {
  .line-break--below-sm {
    display: none;
  }

  #case-img-6 {
    margin-top: 40px;
  }

  .case-banner-right {
    float: right;
    width: 45%;
  }

  .case-download-block--sm .case-download-link--google-play img {
    width: 128px;
  }

  .case-download-block--sm .case-download-link--app-store img {
    width: 114px;
  }

  .case-get-app-img-wrap {
    position: absolute;
    top: 0;
    height: 100%;
  }

  .case-get-app-img {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media (min-width: 1200px) {
  .line-break--below-lg {
    display: none;
  }

  .case-block-img--top {
    position: absolute;
    top: 0;
    right: 0;
  }

  .case-banner-left {
    width: 55%;
    float: left;
  }

  .case-phone {
    margin-bottom: -18px;
  }

  .case-banner-slider__img {
    max-width: calc(100% - 40px);
  }

  .case-award:first-child img {
    width: 48px;
  }

  .case-award:last-child img {
    width: 56px;
  }

  .case-about-section {
    min-height: 905px;
  }

  .case-text--sm {
    font-size: 22px;
    line-height: 42px;
  }

  .case-app-section {
    background-size: auto 100%;
    position: relative;
  }

  .case-app-section:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    height: 80%;
    background-image: url(../img/case-app-section-bg--details.png);
    background-size: 100%;
    width: 732px;
    background-position: center;
    -webkit-transform: translate(-55px, 135px);
    transform: translate(-55px, 135px);
  }

  .case-app-block {
    float: right;
  }

  .case-app-block {
    margin-right: 68px;
  }

  .block-top-lg {
    position: absolute;
    top: 0;
    right: 0;
  }

  .case-magic-img-wrapper img {
    width: 602px;
    max-width: none;
    margin-left: -21px;
  }

  .case-magic-img-wrapper .case-quote {
    position: absolute;
    bottom: 15px;
    left: 0;
    line-height: 28px;
    left: -258px;
    bottom: 70px;
  }

  #case-get-app-section-height {
    min-height: 590px;
  }

  #case-get-app-img {
    width: 543px;
    margin-right: 22px;
  }

  .case-letter-wrapper {
    text-align: right;
  }

  #case-section--05 .case-spacing {
    margin-top: 133px;
  }

  #case-img--07-01 {
    margin-left: 58px;
    margin-top: 17px;
  }
}

@media (max-width: 1199px) {
  .line-break--above-lg {
    display: none;
  }

  .case-banner-section {
    background-position-x: 40%;
  }

  .case-banner-left {
    padding-top: 58px;
  }

  .case-banner-image {
    width: 421px;
    bottom: -64px;
  }

  .case-phone {
    width: 226px;
    height: 452px;
    -webkit-transform: translateY(51px);
    transform: translateY(51px);
    padding: 14px;
  }

  .case-phone.transform {
    -webkit-transform: translateY(131%);
    transform: translateY(131%);
  }

  .case-banner-slider__text {
    font-size: 9px;
    margin-top: 16px;
  }

  .case-banner-slider .slick-dots li button {
    padding: 3px;
  }

  .case-banner-slider-arrows {
    margin-top: 46px;
  }

  .case-main-title {
    font-size: 38px;
    line-height: 45px;
  }

  .case-awards-block {
    margin-top: 32px;
  }

  .case-award {
    font-size: 12px;
    line-height: 15px;
  }

  .case-award:not(:last-child) {
    margin-bottom: 20px;
  }

  .case-award__img {
    width: 32px;
    min-width: 32px;
  }

  .case-award__img img {
    width: 32px;
  }

  .case-award__text {
    padding-left: 12px;
  }

  .case-download-block {
    margin-top: 23px;
    padding-left: 2px;
  }

  .case-download-block--sm {
    margin-top: 67px;
  }

  .case-soc-block {
    margin-top: 20px;
  }

  .case-soc-block-list {
    padding-left: 0;
  }

  .case-about-section {
    padding: 95px 0 92px;
  }

  .case-title {
    font-size: 38px;
    line-height: 45px;
  }

  .case-text {
    font-size: 18px;
    line-height: 37px;
  }

  .case-numbers-section {
    padding: 78px 0 6px;
  }

  .case-numbers-block {
    margin-top: 60px;
  }

  .num-block {
    margin-bottom: 115px;
  }

  .num-block:before {
    left: 15px;
  }

  .num-block__content {
    padding-left: 92px;
  }

  .num-block__icon {
    top: 24px;
    left: -10px;
  }

  .case-common-section {
    padding: 89px 0 75px;
  }

  .case-common-section--1:after {
    width: 186px;
    height: 186px;
    -webkit-transform: translate(-25%, -17%);
    transform: translate(-25%, -17%);
  }

  .case-quote {
    font-size: 16px;
    line-height: 26px;
  }

  .case-app-section {
    background-image: url(../img/case-app-section-bg--sm.png);
  }

  .case-app-section-bg {
    padding: 212px 0 183px;
  }

  .case-app-section-bg:before,
  .case-app-section-bg:after {
    left: 0;
    width: 938px;
  }

  .case-app-block {
    margin-top: 106px;
  }

  .case-app-block__number {
    font-size: 52px;
    line-height: 33px;
  }

  .case-app-block__text {
    font-size: 18px;
    line-height: 27px;
    margin-top: 13px;
  }

  .case-magic-section {
    padding-bottom: 56px;
  }

  .case-magic-section .case-block {
    margin-top: 38px;
  }

  .case-magic-img-wrapper:after {
    width: 149px;
    height: 149px;
    right: 0;
    -webkit-transform: translate(41px, 148px);
    transform: translate(41px, 148px);
  }

  .case-magic-img-wrapper img {
    max-width: 400px;
  }

  .case-lk-section {
    background-image: url(../img/section-lk-bg--sm.png);
  }

  .case-result-section {
    background-image: url(../img/result-section-bg--sm.png);
  }

  .case-result-section .case-title {
    margin-bottom: 46px;
  }

  .case-result-section-bg-holder {
    padding-top: 58px;
    padding-bottom: 80px;
  }

  .case-result-section-bg-holder:before {
    background-position-y: 35%;
  }

  .case-letter-wrapper {
    margin-top: 163px;
    text-align: center;
  }

  .case-letter-link {
    margin-right: 54px;
  }

  #case-section--07 {
    padding: 83px 0 167px;
  }

  #case-section--08 {
    padding: 68px 0 59px;
  }

  #case-section--10 {
    padding-bottom: 78px;
  }
}

@media (max-width: 991px) {
  .case-wrapper {
    padding-top: 70px;
  }

  .case-app-section-bg:before,
  .case-app-section-bg:after {
    left: -115px;
  }
}

@media (max-width: 767px) {
  .line-break--above-sm {
    display: none;
  }

  .case-spacing {
    margin-top: 73px;
  }

  .case-block-img--top {
    margin: 0 auto 25px;
  }

  .case-block-img--bottom {
    margin: 25px auto 0;
  }

  .case-block-img--max-width {
    max-width: 275px;
  }

  .case-banner-section {
    background-position-x: right;
  }

  .case-banner-right {
    margin-top: 12px;
  }

  .case-banner-image {
    width: 352px;
    bottom: -18px;
    margin-left: 0;
  }

  .case-phone {
    margin: 0 auto;
  }

  .case-phone.transform {
    -webkit-transform: translateY(116%);
    transform: translateY(116%);
  }

  .case-banner-slider-arrows {
    display: none;
  }

  .case-main-title {
    font-size: 23px;
    line-height: 33px;
  }

  .case-awards-block {
    margin-top: 49px;
  }

  .case-award:not(:last-child) {
    margin-bottom: 19px;
  }

  .case-award__text strong {
    margin-bottom: 4px;
  }

  .case-download-block {
    margin-top: 63px;
  }

  .case-download-block--sm {
    margin-top: 48px;
  }

  .case-download-link:not(:first-child) {
    margin-left: 15px;
  }

  .case-soc-block {
    margin-top: 43px;
  }

  .case-soc-block-list__item .ico {
    width: 33px;
    height: 33px;
  }

  .case-soc-block-list__item:not(:first-child) {
    margin-left: 12px;
  }

  .case-soc-block-list__item {
    width: 33px;
  }

  .case-about-section {
    padding: 563px 0 80px;
  }

  .case-title {
    font-size: 34px;
  }

  .case-numbers-section:before {
    display: none;
  }

  .case-numbers-block {
    padding: 0 7px;
    margin-top: 39px;
  }

  .num-block {
    margin-bottom: 63px;
  }

  .num-block:before {
    left: 70px;
    top: -18px;
  }

  .num-block__content {
    padding-left: 0;
  }

  .num-block__icon {
    position: relative;
    top: 0;
    left: 0;
  }

  .num-block__icon {
    height: 111px;
    padding-left: 35px;
  }

  .num-block__number {
    font-size: 60px;
    line-height: 38px;
  }

  .num-block__number {
    padding-right: 10px;
  }

  .num-block__text {
    font-size: 21px;
    line-height: 31px;
  }

  .case-common-section {
    padding: 52px 0 34px;
  }

  .case-common-section .case-quote {
    margin-top: 28px;
  }

  .case-common-section--1:after {
    -webkit-transform: translate(-59%, -55%);
    transform: translate(-59%, -55%);
  }

  .case-quote--spcing-sm {
    margin-top: 30px;
  }

  .case-app-section {
    background-image: url(../img/case-app-section-bg--xs.png);
  }

  .case-app-section-bg {
    padding: 138px 0 143px;
  }

  .case-app-section-bg:before {
    background-image: url(../img/case-app-bg-top--xs.png);
  }

  .case-app-section-bg:after {
    background-image: url(../img/case-app-bg-bottom--xs.png);
  }

  .case-app-block {
    margin-top: 74px;
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

  .case-magic-section {
    padding-bottom: 36px;
    margin-bottom: 59px;
    background-position: 78% top;
  }

  .case-magic-img-wrapper:after {
    -webkit-transform: translate(52px, 150px);
    transform: translate(52px, 150px);
  }

  .case-magic-img-wrapper img {
    margin-top: 28px;
  }

  .case-magic-img-wrapper .case-quote {
    width: calc(100% - 20px);
    margin-top: -8px;
  }

  .case-lk-section {
    background-image: url(../img/section-lk-bg--xs.png);
  }

  .case-get-app-section .case-block {
    margin-top: 70px;
  }

  .case-get-app-img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .case-result-list {
    font-size: 21px;
    line-height: 27px;
  }

  .case-result-list__item {
    padding-left: 68px;
  }

  .case-result-list__item:not(:first-child) {
    margin-top: 58px;
  }

  .case-letter-link {
    margin-right: 0;
  }

  #case-section--05 {
    padding-bottom: 90px;
  }

  #case-section--07 {
    padding: 51px 0 73px;
  }

  #case-section--08 {
    padding-top: 48px;
    padding-bottom: 109px;
  }

  #case-section--10 {
    padding-bottom: 50px;
  }

  #case-img--03-01 {
    max-width: 250px;
  }

  #case-img--05-02 {
    max-width: 294px;
  }
}

@media (max-width: 479px) {
  .case-app-section-bg {
    padding: 125px 0 143px;
  }

  .case-app-section-bg:before,
  .case-app-section-bg:after {
    width: 418px;
    left: -44px;
    left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .line-break--between-sm-lg {
    display: block;
  }

  .case-block-img--tablet-spacing {
    margin-top: 60px;
  }

  .case-banner-section {
    height: 603px;
  }

  .case-banner-content {
    width: 450px;
    float: left;
  }

  .case-banner-right {
    margin-top: -17px;
    width: calc(100% - 450px);
  }

  .case-about-section {
    min-height: 580px;
  }

  .case-app-block {
    display: table;
    margin-left: auto;
  }

  .case-magic-img-wrapper img {
    -webkit-transform: translateX(24px);
    transform: translateX(24px);
  }

  .case-magic-img-wrapper .case-quote {
    margin-top: -16px;
    margin-left: -45px;
  }

  .case-get-app-section .case-block {
    margin-top: 80px;
    margin-bottom: 59px;
  }

  #case-get-app-img {
    width: 342px;
  }

  .js-transform-block--00-trigger {
    position: static;
  }

  #case-section--08 .case-text {
    padding-right: 56px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .case-banner-image {
    margin-left: 134px;
  }

  .case-numbers-section:before {
    width: 500px;
    height: 500px;
  }

  .num-block:before {
    width: 120px;
    height: 120px;
  }

  .num-block__icon {
    top: 0;
  }

  .num-block__number {
    font-size: 60px;
    line-height: 38px;
  }

  .num-block__text {
    font-size: 20px;
    line-height: 28px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .case-banner-image {
    margin-left: 16px;
  }

  .case-phone {
    margin-left: auto;
    margin-right: 0;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .case-app-section-bg:before,
  .case-app-section-bg:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 565px;
  }
}
/*# sourceMappingURL=main.css.map */
