@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Light/ProximaNova-Light.woff') format('woff'),
    url('../fonts/ProximaNova-Light/ProximaNova-Light.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'),
    url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf')  format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf')  format('truetype');
  font-weight: 700;
  font-style: normal;
}