{%
  set nav1 = {
    "title": "О компании",
    "list": [
      "О нас",
      "Галерея",
      "Вакансии",
      "Франшиза"
    ]
  }
%}

{%
  set nav2 = {
    "title": "Меню",
    "list": [
      "Белгород",
      "Самара"
    ]
  }
%}

{%
  set nav3 = {
    "title": "Бонусы",
    "list": [
      "Бонусные карты",
      "Сертификаты"
    ]
  }
%}

{%
  set nav4 = {
    "title": "Время работы:",
    "listObj": [
      {
        "key": "Пн-Чт",
        "value": "7:30-23:00"
      },
      {
        "key": "Пт",
        "value": "7:30-23:59"
      },
      {
        "key": "Сб-Вск",
        "value": "8:00-23:59"
      }
    ]
  }
%}

{%
  set nav5 = {
    "title": "Контакты",
    "list": [
      "Связаться с нами",
      "Адреса кофеен"
    ]
  }
%}

{%
  set nav6 = {
    "title": "Мы в сетях:",
    "socList": [
      {
        href: "/fakepath-inst",
        ico: "ico-inst"
      },
      {
        href: "/fakepath-vk",
        ico: "ico-vk"
      }
    ]
  }
%}

{% macro navigation(item) %}
  <nav class="footer-nav">
    <a href="#" class="footer-nav__title">{{item.title}}</a>
    {% if item.list %}
      <ul class="footer-nav__list">
        {% for item in item.list %}
          <li class="footer-nav__list-item">
            <a href="#" class="footer-nav__link">{{item}}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if item.listObj %}
      <ul class="footer-nav__list">
        {% for item in item.listObj %}
          <li class="footer-nav__list-item footer-nav__list-item--key-val">
            <span class="key">{{item.key}}</span>
            <span class="value">{{item.value}}</span>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if item.socList %}
      <ul class="footer-nav__soc-list">
        {% for item in item.socList %}
          <li class="footer-nav__soc-list-item">
            <a href="{{item.href}}" class="footer-nav__soc-list-link">
              <div class="ico-wrapper">
                <object>
                  <svg class="ico ico-arrow-right">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite.svg#{{item.ico}}"></use>
                  </svg>
                </object>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </nav>
{% endmacro %}


<footer class="footer">
  <div class="footer__inner">
    <div class="container-outer relative">

      <img src="img/logo-footer.png" alt="" class="logo-footer">

      <div class="container">
        <div class="footer-col-wrapper footer-desktop">
          <div class="footer-col footer-col--1">
            {{navigation(nav1)}}
          </div>
          <div class="footer-col footer-col--2">
            <div class="footer-col-sub">
              {{navigation(nav2)}}
            </div>
            <div class="footer-col-sub">
              {{navigation(nav3)}}
              {{navigation(nav4)}}
            </div>
          </div>
          <div class="footer-col footer-col--3">
            {{navigation(nav5)}}
            {{navigation(nav6)}}
          </div>
        </div>

        <div class="footer-mobile">
          <div class="footer-mobile__grid-1">
            {{navigation(nav1)}}
            {{navigation(nav2)}}
            {{navigation(nav3)}}
            {{navigation(nav5)}}
          </div>
          <div class="footer-mobile__grid-2">
            {{navigation(nav6)}}
            {{navigation(nav4)}}
          </div>
        </div>
      </div>

      <img src="img/footer-person.jpg" class="footer-right-img" alt="">

    </div>
  </div>
</footer>