{% 
  set headerNav = [
    "Главная",
    "Меню",
    "Бонусы",
    "О компании",
    "Контакты"
  ]
%}

<header class="header">
  <div class="container-outer header__container">
    <a href="#" class="header-logo-wrapper">
      <img src="img/logo-header.png" alt="Комод" class="header-logo">
    </a>
    <nav class="header-nav">
      <ul class="header-nav__list">
        {% for item in headerNav %}
          <li class="header-nav__list-item">
            <a href="#" class="header-nav__link">{{item}}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>