<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/libs.css">
    <link rel="stylesheet" href="css/vendor/hamburgers/hamburgers.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="layout">
    {% block header %}
    {% include 'layout/_header.html' %}
    {% endblock %}

    <main class="page-{{pageName}} content-inner">
      {% block content %}
      {% endblock %}
    </main>

    {% block footer %}
    {% include 'layout/_footer.html' %}
    {% endblock %}
  </div>
    
  <script src="js/libs.js"></script>
  <script src="https://api-maps.yandex.ru/2.1/?apikey=3333d396-c99a-44e7-b235-16170b9b34e7&lang=ru_RU" type="text/javascript">
  </script>
  <script src="js/common.js"></script>
</body>
</html>