@font-face {
  font-family: "Ubuntu";
  src: url("../../fonts/Ubuntu/Ubuntu-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Ubuntu/Ubuntu-Regular.woff") format("woff"), url("../../fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../../fonts/Ubuntu/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Ubuntu/Ubuntu-Bold.woff") format("woff"), url("../../fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff") format("woff"), url("../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff") format("woff"), url("../../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

#case-section--03 {
  padding-bottom: 0;
}

#case-section--05 {
  padding-bottom: 72px;
}

#case-section--06 {
  padding-top: 0;
  padding-bottom: 0;
}

.clock-item {
  display: inline-block;
  position: relative;
  margin: 0 10px;
}

.clock-item .text {
  top: 11px;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
}

.clock-item .text .val {
  font-size: 20px;
  font-weight: bold;
  color: #fdffee;
  text-align: center;
  margin: 0;
  padding-bottom: 2px;
  text-shadow: 0 2px 9px rgba(0, 0, 0, 0.11);
}

.clock-item .text .type-time {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  text-align: center;
  margin: 0;
  text-shadow: 0 1px 2px black, 0 -1px 2px black;
}

.kineticjs-content {
  border: 7px solid #252443;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.kineticjs-content > canvas {
  top: -7px !important;
  left: -7px !important;
}

.countdown_text {
  color: #fdffee;
  font-weight: bold;
  line-height: 20px;
  text-shadow: 0 2px 9px rgba(0, 0, 0, 0.11);
  margin-top: 7px;
  font-size: 12px;
  text-align: right;
}

/*  */

.case-decor-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.case-decor-wrapper .case-decor-container {
  position: relative;
}

.case-decor-wrapper .case-decor {
  position: absolute;
}

.case-decor-wrapper .case-decor-1 {
  width: 37px;
  height: 35px;
  top: 12vh;
  left: -150px;
}

.case-wrapper {
  overflow-x: hidden;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  background-color: #30314d;
}

.relative {
  position: relative;
}

.slick-slide {
  outline: none !important;
}

.w50 {
  width: 50px;
}

.case-main-title {
  font-family: "Ubuntu", "Helvetica", "Arial", sans-serif;
  color: #fedd6a;
  font-size: 48px;
  font-weight: 700;
  line-height: 47px;
  text-align: center;
}

.text-neon {
  color: #00e5fd;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.25), 0 0 18px rgba(1, 231, 254, 0.5);
}

a.text-neon:hover,
a.text-neon:focus {
  color: #00e8ff;
  text-decoration: none;
  border: none;
  text-shadow: 0 0 18px #01e7fe, 0 3px 0 rgba(0, 0, 0, 0.5);
}

.case-link-external {
  color: #fff;
  padding-left: 36px;
  position: relative;
  display: inline-block;
}

.case-link-external:hover {
  color: #fff;
}

.case-link-external:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
  width: 20px;
  height: 20px;
  background: url(../img/link-small.png) 100% no-repeat;
}

.case-description {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  line-height: 30px;
}

.case-section-padding {
  padding: 100px 0;
}

#case-section--00 {
  padding-top: 0;
}

.case-main-content {
  background-image: url(../img/case-main-bg.png);
  background-size: 150% auto;
  background-position: center top;
  background-repeat: repeat-y;
  background-color: #282745;
  position: relative;
  padding-bottom: 200px;
}

.case-main-content:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 890px;
  background: url(../img/footer-rocket.png) no-repeat bottom left calc(50% - 700px)/auto, url(../img/footer-main-bg.png) repeat-x bottom center/contain;
}

.countdown-line {
  background: url(../img/countdown.png);
  background-position: top center;
  background-repeat: repeat-x;
  background-size: cover;
  padding: 10px 0;
}

.case-back-link {
  font-size: 12px;
  line-height: 19px;
  display: inline-block;
  margin-top: 13px;
}

.anounce-text {
  font-family: "Ubuntu", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  line-height: 19px;
}

.case-banner {
  padding-top: 63px;
}

.case-banner-img {
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.case-banner-img--mobile {
  display: none;
}

.case-banner-text {
  margin-top: 34px;
}

.case-banner-link {
  font-size: 16px;
  line-height: 31px;
}

.case-icon-blocks {
  margin-top: 63px;
}

.case-icon-block__icon {
  margin-bottom: 16px;
}

.case-icon-block__icon img {
  display: block;
  margin: 0 auto;
  height: 108px;
}

.case-icon-block__text {
  text-align: center;
  max-width: 361px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 28px;
}

/* Case step */

.case-step {
  text-align: center;
  position: relative;
  padding-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

.case-step:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 1px;
  width: 70px;
  -webkit-transform: translateX(-35px);
  transform: translateX(-35px);
  background-color: #fedd6a;
}

.case-step__title {
  font-size: 25px;
  line-height: 19px;
  font-weight: 700;
  margin-bottom: 25px;
}

.case-step__text {
  font-size: 20px;
}

.case-step__text p {
  margin-bottom: 28px;
}

.case-step__text p:last-child {
  margin-bottom: 0;
}

.case-step__image {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.case-step__image--mobile {
  display: none;
}

.case-step-list {
  margin-top: 22px;
  padding-left: 0;
  list-style-type: none;
}

.case-step-list__item:not(:first-child) {
  margin-top: 12px;
}

.case-step-list__title {
  color: #fedd6a;
}

.case-steps-block--01 {
  margin-top: 71px;
}

.case-steps-block--01 .case-step {
  margin-top: 56px;
}

.case-steps-block--01 .case-step:nth-child(even):before {
  background-color: #ca2146;
}

.case-steps-block--01 .case-step__text {
  max-width: 635px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 28px;
}

.case-steps-block--02 .case-step {
  margin-top: 126px;
  padding-top: 29px;
}

.case-steps-block--02 .case-step__title,
.case-steps-block--02 .case-step__text {
  max-width: 635px;
  margin-left: auto;
  margin-right: auto;
}

.case-steps-block--02 .case-step:first-child {
  margin-top: 65px;
}

.case-steps-block--02 .case-step:last-child:not(:first-child) {
  margin-top: 68px;
}

.case-steps-block--move-top {
  margin-top: -84px;
}

/* !Case step */

.case-rocket-wrapper {
  height: 760px;
  margin-top: 88px;
  position: relative;
}

.case-rocket-wrapper + div .case-step:first-child {
  margin-top: 0;
}

@-webkit-keyframes rocket {
  0% {
    -webkit-transform: translateX(25%) translateY(0);
    transform: translateX(25%) translateY(0);
  }

  50% {
    -webkit-transform: translateX(25%) translateY(15px) rotate(2deg);
    transform: translateX(25%) translateY(15px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(25%) translateY(0);
    transform: translateX(25%) translateY(0);
  }
}

@keyframes rocket {
  0% {
    -webkit-transform: translateX(25%) translateY(0);
    transform: translateX(25%) translateY(0);
  }

  50% {
    -webkit-transform: translateX(25%) translateY(15px) rotate(2deg);
    transform: translateX(25%) translateY(15px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(25%) translateY(0);
    transform: translateX(25%) translateY(0);
  }
}

.case-rocket-img {
  margin-left: -598px;
  -webkit-animation: rocket 1.8s infinite;
  animation: rocket 1.8s infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

.features-block {
  font-size: 0;
  line-height: 0;
  text-align: justify;
  text-justify: distribute-all-lines;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.features-block:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

.features-block-item {
  display: inline-block;
  font-size: 18px;
  line-height: normal;
  color: #5c5892;
  width: 100px;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  vertical-align: top;
}

.features-block-item__icon {
  max-width: 100%;
}

.features-block-item__icon {
  height: 78px;
}

.features-block-item__icon img {
  max-height: 62px;
}

.features-block-separator {
  display: inline-block;
  vertical-align: top;
  font-size: 43px;
  line-height: normal;
  color: #5c5892;
  margin-top: 10px;
}

.logo-block {
  margin-bottom: 118px;
}

.logo-block img {
  display: block;
  max-width: 385px;
  margin: 0 auto;
}

.case-result-block {
  margin-top: 55px;
}

.case-result-block .case-result-item {
  float: left;
  width: 33.3%;
}

.case-result-item {
  position: relative;
  padding-top: 140px;
  padding-left: 54px;
}

.case-result-item__header {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% + 100px);
  height: 100px;
  padding-top: 34px;
  padding-left: 100px;
  padding-right: 150px;
  border-radius: 50px;
}

.case-result-item__header:before {
  content: "";
  display: block;
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  left: 18px;
  top: 18px;
}

.case-result-item__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
}

.case-result-item__text {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
}

.case-result-item__text p {
  margin-bottom: 29px;
}

.case-result-item__text p:last-child {
  margin-bottom: 0;
}

.case-result-item:last-child .case-result-item__header {
  width: 100%;
  padding-right: 100px;
}

.case-result-item:nth-child(1) .case-result-item__header {
  background-color: #00e5fd;
  color: #483864;
}

.case-result-item:nth-child(1) .case-result-item__header:before {
  background-color: #483864;
}

.case-result-item:nth-child(2) .case-result-item__header {
  background-color: #483864;
  color: #00e5fd;
}

.case-result-item:nth-child(2) .case-result-item__header:before {
  background-color: #00e5fd;
}

.case-result-item:nth-child(3) .case-result-item__header {
  background-color: #fedd6a;
  color: #483864;
}

.case-result-item:nth-child(3) .case-result-item__header:before {
  background-color: #483864;
}

/* Side steps */

.case-side-step-block {
  white-space: nowrap;
  margin-top: 80px;
}

.case-side-step-block__img {
  width: 740px;
}

.case-side-step-block__item {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  white-space: normal;
}

.case-side-step-block .case-step {
  text-align: left;
  padding-top: 30px;
}

.case-side-step-block .case-step:before {
  left: 0;
  -webkit-transform: none;
  transform: none;
}

.case-side-step-block--01 .case-step {
  margin-top: -75px;
}

.case-side-step-block--02 .case-side-step-block__item:first-child {
  width: 56%;
}

.case-side-step-block--02 .case-side-step-block__item:last-child {
  width: 44%;
  padding-left: 41px;
}

/* !Side steps */

/* Video */

.case-video-container {
  position: relative;
}

.case-video-container--02 {
  height: 0;
  padding-top: 52%;
}

.case-video-container .case-video {
  position: absolute;
}

.case-video-container .case-video--01 {
  width: 47%;
  top: 39%;
  right: 10%;
}

.case-video-container .case-video--02 {
  width: 100%;
  top: 0;
  left: 0;
}

/* !Video */

/* Slider */

.case-slider-wrapper {
  padding-top: 40px;
  position: relative;
}

.case-slider-wrapper:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 40px;
  bottom: calc(100% - 40px);
  background-image: url(../img/slider-top.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: left bottom;
}

.case-slider__slide img {
  display: block;
  width: 100%;
}

.case-slider-dots {
  margin-top: 38px;
}

.case-slider-dots .slick-dots {
  list-style-type: none;
  font-size: 0;
  line-height: 0;
  padding-left: 0;
  text-align: center;
}

.case-slider-dots .slick-dots li {
  display: inline-block;
  vertical-align: bottom;
}

.case-slider-dots .slick-dots li:not(:first-child) {
  margin-left: 8px;
}

.case-slider-dots .slick-dots button {
  border: none;
  background-color: #00e5fd;
  outline: none !important;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  font-size: 0;
  line-height: 0;
  padding: 0;
}

.case-slider-dots .slick-dots .slick-active button {
  width: 19px;
  height: 19px;
  -webkit-box-shadow: 0 0 10px rgba(1, 231, 254, 0.5);
  box-shadow: 0 0 10px rgba(1, 231, 254, 0.5);
}

.case-slider-arrows {
  position: absolute;
  top: 41%;
  width: 100%;
}

.case-slider-arrows .slick-arrow {
  position: absolute;
  top: 0;
  background-color: transparent;
  border: none;
  width: 94px;
  height: 64px;
  padding: 0;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  outline: none !important;
}

.case-slider-arrows .slick-prev {
  background-image: url(../img/arrow-left.svg);
  left: -96px;
}

.case-slider-arrows .slick-next {
  background-image: url(../img/arrow-right.svg);
  right: -96px;
}

/* !Slider */

@media (min-width: 1200px) {
  .case-banner-title {
    font-size: 40px;
    line-height: 47px;
    text-align: left;
    margin-top: 82px;
  }

  .case-banner-link {
    margin-top: -86px;
    display: table;
  }
}

@media (max-width: 1639px) {
  .case-rocket-wrapper {
    width: 50%;
  }

  .case-rocket-img {
    position: absolute;
    right: 0;
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
    height: 100%;
    top: 0;
    margin-left: 0;
  }
}

@media (max-width: 1359px) {
  .case-banner-img {
    max-width: 100%;
  }

  .case-slider-wrapper:before {
    width: calc(100% - 76px);
    left: 38px;
  }

  .case-slider {
    width: calc(100% - 76px);
    margin: 0 auto;
  }

  .case-slider-arrows .slick-prev {
    left: -41px;
  }

  .case-slider-arrows .slick-next {
    right: -41px;
  }
}

@media (max-width: 1199px) {
  #case-section--05 {
    padding-bottom: 36px;
  }

  .case-main-title {
    font-size: 32px;
    line-height: 37px;
  }

  .case-description {
    font-size: 14px;
    line-height: 24px;
  }

  .case-section-padding {
    padding: 42px 0;
  }

  .case-main-content {
    padding-bottom: 145px;
  }

  .countdown-line {
    display: none;
  }

  .case-banner {
    padding-top: 77px;
  }

  .case-banner-img {
    margin-top: 20px;
  }

  .case-banner-text {
    margin-top: 20px;
    text-align: center;
  }

  .case-banner-link {
    display: table;
    margin: 0 auto;
  }

  .case-icon-block__icon img {
    height: 74px;
  }

  .case-icon-block__text {
    max-width: 210px;
    font-size: 13px;
    line-height: 22px;
  }

  .case-step__title {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 9px;
  }

  .case-step__text p {
    margin-bottom: 8px;
  }

  .case-step__text {
    font-size: 14px;
    line-height: 24px;
  }

  .case-steps-block--01 .case-step__text {
    font-size: 14px;
    line-height: 24px;
  }

  .case-steps-block--01 {
    margin-top: 40px;
  }

  .case-steps-block--01 .case-step {
    margin-top: 30px;
    padding-top: 10px;
  }

  .case-steps-block--02 .case-step {
    padding-top: 16px;
    margin-top: 66px;
  }

  .case-steps-block--02 .case-step:first-child {
    margin-top: 36px;
  }

  .case-steps-block--02 .case-step:last-child:not(:first-child) {
    margin-top: 17px;
  }

  .case-steps-block--move-top {
    margin-top: -42px;
  }

  .case-rocket-wrapper {
    margin-top: 38px;
  }

  .features-block {
    max-width: 430px;
  }

  .features-block-item {
    font-size: 12px;
  }

  .features-block-item__icon {
    height: 51px;
  }

  .features-block-item__icon img {
    max-height: 38px;
  }

  .features-block-separator {
    font-size: 21px;
  }

  .logo-block {
    margin-bottom: 58px;
  }

  .logo-block img {
    max-width: 230px;
  }

  .case-result-item {
    padding-top: 94px;
    padding-left: 27px;
  }

  .case-result-item__header {
    height: 64px;
    padding-top: 18px;
  }

  .case-result-item__header:before {
    height: 40px;
    width: 40px;
    top: 12px;
    left: 12px;
  }

  .case-result-item__title {
    font-size: 12px;
  }

  .case-result-item__text {
    font-size: 14px;
  }

  .case-side-step-block {
    margin-top: 63px;
  }

  .case-side-step-block__img {
    width: calc(100% + 128px);
    margin-left: -47px;
  }

  .case-side-step-block .case-step {
    padding-top: 16px;
  }

  .case-video-container .case-video--01 {
    right: 21%;
  }

  .case-slider-dots {
    margin-top: 28px;
  }
}

@media (max-width: 991px) {
  .case-wrapper {
    padding-top: 70px;
  }

  .case-rocket-wrapper {
    height: 362px;
  }

  .case-video-container .case-video--01 {
    right: 19%;
    width: 50%;
  }
}

@media (max-width: 767px) {
  #case-section--05 {
    padding-top: 61px;
  }

  .case-main-title {
    font-size: 24px;
  }

  .case-description {
    line-height: 22px;
    margin-top: 17px;
  }

  .case-section-padding {
    padding: 30px 0;
  }

  .case-banner {
    padding-top: 40px;
  }

  .case-banner-img {
    display: none;
  }

  .case-banner-img--mobile {
    display: block;
  }

  .case-banner-title {
    font-size: 21px;
    line-height: 24px;
  }

  .case-banner-text {
    font-size: 11px;
    line-height: 17px;
  }

  .case-banner-link {
    font-size: 12px;
    line-height: 23px;
    margin-top: 27px;
  }

  .case-icon-blocks {
    margin-top: 42px;
  }

  .case-icon-block:not(:first-child) {
    margin-top: 30px;
  }

  .case-icon-block__text {
    max-width: 100%;
  }

  .case-step__title {
    font-size: 18px;
    line-height: 19px;
  }

  .case-step__image {
    width: 480px;
    max-width: 480px;
    margin-top: 19px;
  }

  .case-steps-block--01 {
    margin-top: 26px;
  }

  .case-steps-block--01 .case-step {
    margin-top: 22px;
  }

  .case-steps-block--02 .case-step {
    margin-top: 52px;
  }

  .case-steps-block--02 .case-step:first-child {
    margin-top: 20px;
  }

  .features-block-item {
    width: auto;
  }

  .case-result-block {
    margin-top: 24px;
  }

  .case-result-block .case-result-item {
    float: none;
    width: 100%;
  }

  .case-result-item {
    padding-left: 0;
    padding-top: 0;
    text-align: center;
  }

  .case-result-item:not(:first-child) {
    margin-top: 32px;
  }

  .case-result-item__header {
    position: relative;
    width: 100%;
    height: auto;
    padding: 3px 45px 5px;
  }

  .case-result-item__header:before {
    height: 24px;
    width: 24px;
    top: 50%;
    left: 8px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .case-result-item__text {
    margin-top: 16px;
  }

  .case-result-item:last-child .case-result-item__header {
    padding-right: 45px;
  }

  .case-side-step-block {
    white-space: normal;
    margin-top: 50px;
  }

  .case-side-step-block__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 458px;
    max-width: 458px;
  }

  .case-side-step-block__item {
    display: block;
    width: 100%;
  }

  .case-side-step-block .case-step {
    padding-top: 23px;
    text-align: center;
  }

  .case-side-step-block .case-step:before {
    left: 50%;
    -webkit-transform: translateX(-35px);
    transform: translateX(-35px);
  }

  .case-side-step-block--01 .case-step {
    margin-top: 0;
  }

  .case-side-step-block--02 {
    display: table;
    margin-top: 33px;
  }

  .case-side-step-block--02 .case-side-step-block {
    display: table;
  }

  .case-side-step-block--02 .case-side-step-block__item:first-child {
    display: table-footer-group;
  }

  .case-side-step-block--02 .case-side-step-block__item:last-child {
    display: table-header-group;
  }

  .case-video-container--02 {
    padding-top: 0;
    height: auto;
  }

  .case-video-container .case-video--01 {
    right: 50%;
    width: 175px;
    -webkit-transform: translateX(94px);
    transform: translateX(94px);
  }

  .case-video-container .case-video--02 {
    position: static;
  }
}

@media (max-width: 479px) {
  .case-main-content {
    padding-bottom: 50px;
  }

  .case-step__image {
    display: none;
  }

  .case-step__image--mobile {
    display: block;
    margin-bottom: 50px;
  }

  .case-steps-block--move-top {
    margin-top: -17px;
  }

  .case-rocket-wrapper {
    height: 242px;
    margin-top: 7px;
  }

  .case-rocket-img {
    -webkit-animation: none;
    animation: none;
  }

  .logo-block {
    margin-bottom: 51px;
  }

  .logo-block img {
    max-width: 194px;
  }

  .case-video-container--01 {
    width: 458px;
    margin-top: 6px;
  }

  .case-slider-wrapper:before {
    width: calc(100% - 30px);
    left: 15px;
  }

  .case-slider {
    width: calc(100% - 30px);
  }

  .case-slider-dots .slick-dots button {
    width: 11px;
    height: 11px;
  }

  .case-slider-dots .slick-dots .slick-active button {
    width: 17px;
    height: 17px;
  }

  .case-slider-arrows {
    top: 32%;
  }

  .case-slider-arrows .slick-arrow {
    width: 72px;
  }

  .case-slider-arrows .slick-prev {
    left: -39px;
  }

  .case-slider-arrows .slick-next {
    right: -39px;
  }
}

@media (max-width: 359px) {
  .case-video-container--01 {
    -webkit-transform: translateX(-90px);
    transform: translateX(-90px);
  }
}
/*# sourceMappingURL=main.css.map */
