<section class="main-page__about-section section">
  <div class="section__inner container main-about">
    <div class="row align-items-center">
      <div class="col-md-5">
        <img src="img/logo.svg" alt="logo" class="main-about__img d-none d-md-block">
      </div>
      <div class="col-md-6 offset-md-1 info-block info-block--md-center">
        <h2 class="info-block__title">О нас</h2>
        <div class="info-block__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. elit, sed do eiusmod tempor incididunt ut labore et dolore magna d do eiusm liqua</div>
        <div class="info-block__button-wrapper d-none d-md-block">
          <a href="#" class="btn">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
</section>