<section class="main-page__subscribe-section section">
  <div class="section__inner container">
    <div class="row subscribe-block">
      <div class="col-md-6">
        <img src="img/main/envelope.png" alt="envelope" class="subscribe-block__img">
      </div>
      <div class="col-md-6 subscribe-block__right form-block">
        <h2 class="form-block__title title title--white">Хотите получать наши новости?</h2>
        <div class="form-block__description">
          Подпишитесь на нашу еженедельную рассылку
        </div>
        <div class="row">
          <div class="col-md-10">
            <form class="subscribe-block__form form">
              <div class="form__item input-line input-line--white">
                <input type="text" class="input-line__input">
                <div class="input-line__placeholder">Имя</div>
              </div>
              <div class="form__item input-line input-line--white">
                <input type="text" class="input-line__input">
                <div class="input-line__placeholder">Адрес email</div>
              </div>
              <div class="form__submit-wrapper">
                <button type="submit" class="btn btn--white w-100">Подписаться</button>
              </div>
            </form>
            <div class="subscribe-block__socials">
              <ul class="socials">              
                <li class="socials__item">
                  <a href="#" class="socials__item-link">
                    <svg class="socials__item-icon socials__item-icon--vk">
                      <use href="img/sprite.svg#ico-vk" />
                    </svg>
                  </a>
                </li>
                <li class="socials__item">
                  <a href="#" class="socials__item-link">
                    <svg class="socials__item-icon socials__item-icon--fb">
                      <use href="img/sprite.svg#ico-fb" />
                    </svg>
                  </a>
                </li>
                <li class="socials__item">
                  <a href="#" class="socials__item-link">
                    <svg class="socials__item-icon socials__item-icon--tg">
                      <use href="img/sprite.svg#ico-tg" />
                    </svg>
                  </a>
                </li>
                <li class="socials__item">
                  <a href="#" class="socials__item-link">
                    <svg class="socials__item-icon socials__item-icon--inst">
                      <use href="img/sprite.svg#ico-inst" />
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>