<section class="main-page__thanks-section section">
  <div class="section__inner container">
    <h2 class="section__title title">Письма благодарностей</h2>
    <div class="row thank-block">
      {% for i in range(1, 5) %}
      <div class="col-6 col-md-3">
        <a href="img/main/doc-1.jpg" data-fancybox="thanks" class="thank-block__item thank">
          <img src="img/main/doc-1.jpg" alt="document" class="thank__preview">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>