<section id="menu-section">
  <div class="menu-block" id="menu-block--01">
    <div class="container-outer menu-block__bg">
      <div class="container">

        <div class="row">
          <div class="col-sm-12">
            <div class="menu-block__content">
              <div class="menu-title">
                Классические <br />
                кофейные напитки
              </div>
              <div class="menu-description">
                Наши бариста обожают готовить <br class="visible-sm visible-md"> для вас классику. Американо?
                Капучино? <br class="visible-sm visible-md"> Латте? Не&nbsp;вопрос! А&nbsp;для&nbsp;ценителей сварим <br class="visible-sm visible-md"> чашечку
                эспрессо, угостим вкусным раф&nbsp;-&nbsp;кофе <br class="visible-sm visible-md"> и&nbspдадим попробовать наш&nbsp;флэт
                уайт
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-block" id="menu-block--02">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="menu-block__wrapper menu-block-modificator--flex">
            <div class="menu-block__img-crop">
              <img src="img/menu/menu-2.png" alt="">  
            </div>
            <div class="menu-block__content menu-block-modificator--top-layer">
              <div class="menu-title">Альтернативный <br> кофе</div>
              <div class="menu-description">
                Если ты искушенный любитель черного кофе, то спешим  &nbsp;&nbsp; сообщить, что
                у&nbsp;нас точно можно найти что-нибудь себе по&nbsp;вкусу. <br class="hidden-xs"> Бариста
                приготовят харио, кемекс, кофе во&nbsp;френч-прессе и&nbsp;даже аэропресс, <br class="hidden-xs">
                а&nbsp;заодно поддержат разговор о кофейной культуре.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-block" id="menu-block--03">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <div class="menu-block__wrapper menu-block-modificator--flex">
            <div class="menu-block__content menu-block-modificator--top-layer">
              <div class="menu-title">Авторский кофе</div>
              <div class="menu-description">
                <p>
                    Когда зайдете к нам, обязательно <br> попробуйте наши авторские коктейли. <br class="hidden-xs"> Поверьте, нам есть чем удивить! Горячий <br class="hidden-xs"> цветочный латте, латте «Сингапур», <br class="hidden-xs"> холодные Баунти-кофе и&nbsp;кофе «ОРЕО». <br> Это лишь часть того, что подготовил <br> для вас наш шеф-бариста.
                </p>
                <p>
                    И, кстати, они не&nbsp;только очень вкусные, <br class="hidden-xs"> но&nbsp;и&nbsp;чертовски красивые! Фото с&nbsp;ними <br class="hidden-xs"> отлично украсят профиль в&nbsp;сетях.
                </p>
              </div>
            </div>
            <img src="img/menu/menu-3.png" alt="" class="menu-block__img menu-img-absolute">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-block" id="menu-block--04">
    <div class="menu-block__top">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="menu-block-modificator--flex">
              <div class="menu-title menu-block-modificator--right menu-block-modificator--half">Напитки <br> на&nbsp;растительном <br> молоке</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-block__bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="menu-block-modificator--flex">
              <div class="menu-description menu-block-modificator--right menu-block-modificator--half">
                  Мы ЗА здоровое и правильное питание, поэтому подготовили для&nbsp;вас особое предложение! Латте «Кешью», Латте «Красный бархат», Раф «Gold», Раф «Matcha», Раф «Blue Matcha» и многое другое ждёт вас в «Комоде»! <br class="hidden-xs"> Кроме того, можем сделать классические напитки на кокосовом, миндальном, <br> овсяном и соевом молоке.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-block" id="menu-block--05">
    <div class="menu-block__top">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="menu-block__wrapper menu-block__wrapper--1 menu-block-modificator--flex">
              <div class="menu-block__content menu-block-modificator--half menu-block-modificator--top-layer">
                <div class="menu-title">Какао</div>
                <div class="menu-description">
                    Классическое, с&nbsp;маршмеллоу, ореховое <br class="hidden-xs">
                    на растительном молоке. <br class="hidden-xs">
                    Попробовав наше воистину шоколадное <br class="hidden-xs">
                    какао, вы точно не&nbsp;останетесь равнодушны.
                </div>
              </div>
              <img src="img/menu/menu-5.png" alt="" class="menu-block__img menu-img-absolute">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-block__bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 menu-block__bg">
            <div class="menu-block__content menu-block__content--2 menu-block-modificator--half menu-block-modificator--top-layer menu-block-modificator--right">
              <div class="menu-title">Чай</div>
              <div class="menu-description">
                  Классический зеленый, с&nbsp;Жасмином, с&nbsp;имбирём <br class="visible-sm visible-md"> и&nbsp;мятой, Молочный Улун, классический черный, <br class="visible-sm visible-md"> Эрл-Грей, с&nbsp;Чабрецом, по&nbsp;-&nbsp;Татарски, Ханнибуш, <br class="visible-sm"> с&nbsp;ромашкой и&nbsp;мятой, фруктовый, чай <br class="visible-sm visible-md"> облепиха-мёд и&nbsp;многие другие ждут вас..
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <div class="menu-block" id="menu-block--06">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="menu-block__wrapper menu-block-modificator--flex">
            <div class="menu-block__content">
              <div class="menu-title">Смузи, <br class="hidden-lg"> лимонады, <br class="hidden-lg"> фрэши</div>
              <div class="menu-description">
                Холодные напитки из свежих фруктов, ягод, <br class="visible-sm visible-md"> с добавлением сока и льда.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-block" id="menu-block--07">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="menu-block__wrapper menu-block-modificator--flex">
            <div class="menu-block__content menu-block-modificator--right menu-block-modificator--half">
              <div class="menu-title">Десерты, сэндвичи и&nbsp;свежая выпечка</div>
              <div class="menu-description">
                  Нам известно, что к&nbsp;вкусным напитками <br class="visible-sm visible-md"> нужны вкусные десерты. Поэтому приготовили <br class="visible-sm visible-md"> для&nbsp;вас большой выбор тортов, пирожных <br class="visible-sm visible-md"> и&nbsp;свежей выпечки. <br class="visible-sm visible-md visible-xs"> Мало? Наши тосты и&nbsp;сэндвичи точно <br class="visible-sm visible-md"> утолят голод даже самого голодного.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="menu-note">
          <div class="menu-note__text">
            Хочешь узнать больше? <br>
            Cмотри наше полное меню в .pdf
          </div>
          <div class="menu-note__links">
            <a href="#">Белгород</a>
            <a href="#">Самара</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
