.case-bottom {
  display: none!important; //TEMPORARY
}

// Bootstrap breakpoints.
$breakpoints: (
  xxs: 360px,
  xs: 480px,
  sm: 768px,
  md: 992px,
  ipad: 1024px,
  lg: 1200px,
  mlg: 1360px,
  xlg: 1640px
);

// @include respond-above(sm) {}
@mixin r-a($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

// @include respond-below(sm) {}
@mixin r-b($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

// @include respond-between(sm, md) {}
@mixin r-bt($lower, $upper) {
  @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {
    $lower-breakpoint: map-get($breakpoints, $lower);
    $upper-breakpoint: map-get($breakpoints, $upper);
    @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
      @content;
    }
  } @else {
    @if (map-has-key($breakpoints, $lower) == false) {
      @warn 'Your lower breakpoint was invalid: #{$lower}.';
    }
    @if (map-has-key($breakpoints, $upper) == false) {
      @warn 'Your upper breakpoint was invalid: #{$upper}.';
    }
  }
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

//Fonts
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/Roboto/Roboto-Regular.woff") format("woff"),
    url("../../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/Roboto/Roboto-Bold.woff") format("woff"),
    url("../../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto/Roboto-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/Roboto/Roboto-Black.woff") format("woff"),
    url("../../fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

//Variables
$accent: #d84545;
$banner-bg: #373f45;
$text-color: #282828;

.case-wrapper {
  overflow-x: hidden;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 18px;
  color: $text-color;
  min-width: 360px;
  background-color: #fff;
  @include r-b(md) {
    padding-top: 70px;
  }
}

.relative {
  position: relative;
}

.slick-slide {
  outline: none!important;
}

.line-break {
  &--above-lg {
    @include r-b(lg) {
      display: none;
    }
  }
  &--above-sm {
    @include r-b(sm) {
      display: none;
    }
  }
  &--between-sm-lg {
    display: none;
    @include r-bt(sm, lg) {
      display: block;
    }
  }
  &--below-lg {
    @include r-a(lg) {
      display: none;
    }
  }
  &--below-sm {
    @include r-a(sm) {
      display: none;
    }
  }
}

.case-spacing {
  margin-top: 85px;
  @include r-b(sm) {
    margin-top: 73px;
  }
}

#case-img-6 {
  @include r-a(sm) {
    margin-top: 40px;
  }
}

.case-block-img {
  @include r-b(sm) {
    &--top {
      margin: 0 auto 25px;
    }
    &--bottom {
      margin: 25px auto 0;
    }
  }
  &--top {
    @include r-a(lg) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &--tablet-spacing {
    @include r-bt(sm, lg) {
      margin-top: 60px;      
    }
  }
  &--max-width {
    @include r-b(sm) {
      max-width: 275px;
    }
  }
}

.case-banner-section {
  background: url(../img/banner-bg.jpg) $banner-bg center bottom no-repeat;
  background-size: cover;
  @include r-b(lg) {
    background-position-x: right;
  }
}

.case-banner-left {
  padding-top: 188px;
  position: relative;
  z-index: 1;
  @include r-a(lg) {
    width: 55%;
    float: left;
  }
  @include r-b(lg) {
    padding-top: 58px;
  }
}

.case-banner-content {
  @include r-bt(sm, lg) {
    width: 50%;
    float: left;
  }
}

.case-banner-right {
  position: relative;
  @include r-a(sm) {
    float: right;
    width: 45%;
  }
  @include r-bt(sm, lg) {
    margin-top: -17px;
  }
  @include r-b(sm) {
    margin-top: 12px;
  }
}

.case-banner-image {
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
  @include r-b(lg) {
    width: 421px;
    bottom: -1px;
  }
  @include r-bt(sm, md) {
    margin-left: 50px;
  }
  @include r-b(sm) {
    width: 352px;
    bottom: -8px;
  }
}

.case-phone {
  width: 465px;
  height: 934px;
  transform: translateY(92px);
  margin: 0 auto;
  position: relative;
  z-index: 10;
  padding: 28px;
  transition: 1s ease;
  @include r-a(lg) {
    margin-bottom: -18px;
  }
  @include r-b(lg) {
    width: 226px;
    height: 452px;
    transform: translateY(38px);
    padding: 14px;
  }
  @include r-bt(sm, md) {
    margin-left: auto;
    margin-right: 0;
  }
  @include r-b(sm) {
    margin: 0 auto;
    width: 188px;
    height: 375px;
  }
  &.transform {
    transform: translateY(90%);
    @include r-b(lg) {
      transform: translateY(110%);
    }
  }
  &__bg {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.case-banner-slider-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: inherit;
  opacity: 0;
  transition: opacity 0.1s ease;
}

.transform {
  .case-banner-slider-wrapper {
    opacity: 1;
    transition: opacity 0.3s ease 0.7s;
  }
  .case-banner-slider-screen  {
    opacity: 1;
    transition: opacity 0.3s ease 0.5s;
  }
}

.case-banner-slider-screen {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: inherit;
  opacity: 0;
}

.case-banner-slider {
  position: absolute;
  left: 4px;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  padding: inherit;
  z-index: 2;
  &__slide {
    padding: 0 24px;
    text-align: center;
    color: $text-color;
  }
  &__img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 20px;
    @include r-a(lg) {
      max-width: calc(100% - 40px);
    }
  }
  &__text {
    @include r-b(lg) {
      font-size: 9px;
      margin-top: 16px;
    }
  }

  @supports (display: flex) {
    .slick-track {
      display: flex;
      align-items: stretch;
    }
    .slick-slide {
      height: auto!important;
    }
    .case-banner-slider {
      &__slide {
        height: 100%;
        display: flex!important;
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }

  .slick-dots {
    font-size: 0;
    line-height: 0;
    text-align: center;
    padding-left: 0;
    margin-top: 20px;
    li {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 8px;
      }
      button {
        width: 0;
        height: 0;
        padding: 4px;
        border-radius: 50%;
        border: none;
        background-color: rgb(221, 221, 221); 
        @include r-b(lg) {
          padding: 3px;
        } 
      }
      &.slick-active {
        button {
          background-color: $accent;
        }
      }
    }
  }
}

.case-banner-slider-arrows {
  margin-top: 120px;
  @include r-b(lg) {
    margin-top: 46px;
  }
}

.case-slider-arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FDEDEE;
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: inline-block;
  &:before {
    content: "";
    z-index: -1;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    bottom: 7px;
    left: 7px;
    right: 7px;
    background-color: #FADDDD;
    transition: .3s ease;
  }
  &:hover {
    &:before {
      opacity: 0;
    }
  }
  &:not(:first-child) {
    margin-left: 46px;
  }
  .ico {
    width: 21px;
    height: 21px;
    @include center;
    color: $accent;
  }
  &--left {
    .ico {
      margin-left: -2px;
    }
  }
  &--right {
    .ico {
      margin-left: 2px;
    }
  }
}

.case-main-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  margin-top: 0;
  strong {
    color: $accent;
  }
  @include r-b(lg) {
    font-size: 38px;
    line-height: 45px;
  }
  @include r-b(sm) {
    font-size: 23px;
    line-height: 33px;
  }
}

.case-awards-block {
  margin-top: 54px;
  @include r-b(lg) {
    margin-top: 84px;
  }
  @include r-b(sm) {
    margin-top: 46px;
  }
}

.case-award {
  font-size: 15px;
  line-height: 18px;
  display: table;
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  @include r-b(lg) {
    font-size: 12px;
    line-height: 18px;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  @include r-b(sm) {
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }
  &__img {
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    min-width: 60px;
    @include r-b(lg) {
      width: 32px;
      min-width: 32px;
    }
    img {
      display: block;
      max-width: 100%;
      @include r-b(lg) {
        width: 32px;
      }
    }
  }
  &__text {
    display: table-cell;
    vertical-align: middle;
    opacity: 0.7;
    padding-left: 26px;
    @include r-b(lg) {
      padding-left: 12px;
    }
    strong {
      display: block;
    }
  }
}

.case-download-block {
  margin-top: 65px;
  white-space: nowrap;
  @include r-b(lg) {
    margin-top: 58px;
  }
  @include r-b(sm) {
    margin-top: 63px;
  }
  &--sm {
    margin-top: 42px;
    @include r-b(sm) {
      margin-top: 48px;
    }
    .case-download-link {
      @include r-a(sm) {
        &--google-play {
          img {
            width: 128px;
          }
        }
        &--app-store {
          img {
            width: 114px;
          }
        } 
      }
    }
  }
}

.case-download-link {
  display: inline-block;
  vertical-align: top;
  &:not(:first-child) {
    margin-left: 20px;
    @include r-b(sm) {
      margin-left: 15px;
    }
  }
  img {
    display: block;
  }
}

.case-soc-block {
  margin-top: 40px;
}

.case-soc-block-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  &__item {
    display: inline-block;
    .ico {
      width: 27px;
      height: 27px;
      @include r-b(sm) {
        width: 33px;
        height: 33px;
      }
    }
    &:not(:first-child) {
      margin-left: 12px;
    }
  }
}

.case-about-section {
  background-color: #fff;
  padding: 193px 0 208px;
  @include r-a(lg) {
    min-height: 905px;
  }
  @include r-b(lg) {
    padding: 105px 0 92px;
  }
  @include r-b(sm) {
    padding: 488px 0 80px;
  }
}

.text-white {
  color: #fff;
}

.case-title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
  margin-bottom: 24px;
  margin-top: 0;
  @include r-b(lg) {
    font-size: 38px;
    line-height: 45px;
  }
  @include r-b(sm) {
    font-size: 34px;
  }
}

.case-text {
  font-size: 24px;
  line-height: 47px;
  @include r-b(lg) {
    font-size: 18px;
    line-height: 37px;
  }
  strong {
    font-weight: 700;
  }
  &--sm {
    @include r-a(lg) {
      font-size: 22px;
      line-height: 42px;
    }
    p {
      margin: 0 0 41px;
    }
  }

  p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.case-numbers-section {
  padding: 83px 0 6px;
  background-image: url(../img/case-numbers-section.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  @include r-b(lg) {
    padding: 78px 0 6px;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 609px;
    height: 609px;
    right: -198px;
    top: -198px;
    background: url(../img/ellipse-1.png) center no-repeat;
    background-size: contain;
    @include r-bt(md, lg) {
      width: 500px;
      height: 500px;
    }
    @include r-b(sm) {
      display: none;
    }
  }
}

.case-numbers-block {
  margin-top: 105px;
  padding: 0 16px;
  line-height: normal;
  @include r-bt(sm, lg) {
    padding: 0 44px;
  }
  @include r-b(lg) {
    margin-top: 50px;
  }
  @include r-b(sm) {
    padding: 0 7px;
    margin-top: 39px;
  }
}

.num-block {
  position: relative;
  margin-bottom: 177px;
  @include r-b(lg) {
    margin-bottom: 93px;
  }
  @include r-b(sm) {
    margin-bottom: 63px;
  }
  &:before {
    content: "";
    width: 180px;
    height: 180px;
    display: block;
    position: absolute;
    background: rgba(253, 237, 238, 0.1);
    border-radius: 50%;
    top: -8px;
    left: 0;
    @include r-b(lg) {
      left: 15px;
    }
    @include r-bt(md, lg) {
      width: 120px;
      height: 120px;
    }
    @include r-b(sm) {
      left: 70px;
      top: -18px;
    }
  }
  &__content {
    padding-left: 98px;
    display: table;
    @include r-b(lg) {
      padding-left: 105px;
    }
    @include r-b(sm) {
      padding-left: 0;
    }
  }
  &__icon {
    position: absolute;
    left: 0;
    top: 20px;
    @include r-bt(md, lg) {
      top: 0;
    }
    @include r-b(sm) {
      position: relative;
      top: 0;
      left: 0;
    }
    @include r-b(sm) {
      height: 111px;
      padding-left: 35px;
    }
    .ico {
      //max-width: 90px;//ie fix
      fill: none; //ie fix
      width: 90px;
      height: 70px;
    }
  }
  &__number {
    display: table-cell;
    vertical-align: middle;
    font-weight: 900;
    font-size: 100px;
    padding-right: 15px;
    @include r-bt(md, lg) {
      font-size: 60px;
      line-height: 38px;
    }
    @include r-b(sm) {
      font-size: 60px;
      line-height: 38px;
    }
    @include r-b(sm) {
      padding-right: 10px;
    }
  }
  &__text {
    display: table-cell;
    vertical-align: middle;
    font-size: 25px;
    line-height: 31px;
    @include r-bt(md, lg) {
      font-size: 20px;
      line-height: 28px;
    }
    @include r-b(sm) {
      font-size: 21px;
      line-height: 31px;
    }
  }
}

.case-common-section {
  padding: 100px 0 82px;
  background-color: #fff;
  @include r-b(lg) {
    padding: 89px 0 75px;
  }
  @include r-b(sm) {
    padding: 52px 0 34px;
  }

  .case-quote {
    @include r-b(sm) {
      margin-top: 28px;
    }
  }

  &--1 {
    position: relative;
    overflow: hidden;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 551px;
      height: 551px;
      background: url(../img/circle.png) center no-repeat;
      background-size: 100%;
      transform: translate(-36%, -44%);
      @include r-b(lg) {
        width: 186px;
        height: 186px;
        transform: translate(-25%, -17%);
      }
      @include r-b(sm) {
        transform: translate(-59%, -55%);
      }
    }
    & > .relative {
      z-index: 2;
    }
  }

}

.white-bg {
  background-color: #fff;
}

.accent-bg {
  background-color: #dc5555;
}

.case-quote {
  color: #000;
  font-size: 18px;
  line-height: 33px;
  padding: 12px 20px 23px 24px;
  border-radius: 35px;
  border: {
    top: 23px solid;
    bottom: 23px solid;
    left: 28px solid;
    right: 28px solid;
  }
  border-color: #fdedee;
  position: relative;
  background-color: #fdedee;
  margin-bottom: 40px;
  @include r-b(lg) {
    font-size: 16px;
    line-height: 26px;
  }
  &--spcing-sm {
    @include r-b(sm) {
      margin-top: 30px;
    }
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fadddd;
    border-radius: 21px;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 22px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 65px 65px 0 0;
    border-color: #fdedee transparent transparent transparent;
    transform: translateY(100%);
  }
  &__text {
    position: relative;
    z-index: 1;
  }
}

.case-app-section {
  background-color: #c1d2da;
  color: #2e2e2e;
  background-image: url(../img/case-app-section-bg.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  @include r-a(lg) {
    background-size: 100%;    
  }
  @include r-b(lg) {
    background-image: url(../img/case-app-section-bg--sm.png);  
  }
  @include r-b(sm) {
    background-image: url(../img/case-app-section-bg--xs.png);  
  }
}

.case-app-section-bg {
  padding: 298px 0 314px;
  position: relative;
  @include r-b(lg) {
    padding: 212px 0 183px;
  }
  @include r-b(sm) {
    padding: 138px 0 143px;
  }
  @include r-b(xs) {
    padding: 125px 0 143px;
  }
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: -50px;
    width: 1340px;
    background-size: 100%;
    background-repeat: no-repeat;
    @include r-b(lg) {
      left: 0;
      width: 938px;
    }
    @include r-b(md) {
      left: -115px;
    }
    @include r-bt(xs, sm) {
      left: 50%;
      transform: translateX(-50%);
      width: 565px;
    }
    @include r-b(xs) {
      width: 418px;
      left: -44px;
      left: 0;
    }
  }
  &:before {
    background-image: url(../img/case-app-bg-top.png);
    top: 0;
    padding-top: inherit;
    background-position-y: top;
    @include r-b(sm) {
      background-image: url(../img/case-app-bg-top--xs.png);
    }
  }
  &:after {
    background-image: url(../img/case-app-bg-bottom.png);
    bottom: 0;
    padding-bottom: inherit;
    background-position-y: bottom;
    @include r-b(sm) {
      background-image: url(../img/case-app-bg-bottom--xs.png);
    }
  }
}

.case-app-block {
  margin-top: 132px;
  @include r-a(lg) {
    float: right;
  }
  @include r-a(lg) {
    margin-right: 68px;
  }
  @include r-b(lg) {
    margin-top: 106px;
  }
  @include r-bt(sm, lg) {
    display: table;
    margin-left: auto;
  }
  @include r-b(sm) {
    margin-top: 74px;
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
  &__number {
    color: $accent;
    font-size: 72px;
    font-weight: 700;
    line-height: 76px;
    @include r-b(lg) {
      font-size: 52px;
      line-height: 33px;
    }
  }
  &__text {
    font-size: 25px;
    line-height: 33px;
    @include r-b(lg) {
      font-size: 18px;
      line-height: 27px;
      margin-top: 13px;
    }
  }
}

.block-top-lg {
  @include r-a(lg) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.case-magic-section {
  position: relative;
  background-image: url(../img/magic-section-bg.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: right top;
  @include r-b(lg) {
    padding-bottom: 32px;
  }
  @include r-b(sm) {
    padding-bottom: 25px;
    margin-bottom: 59px;
    background-position: 78% top;
  }
  &:after {
    //content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 551px;
    height: 551px;
    background: url(../img/circle.png) center no-repeat;
    background-size: 100%;
  }
  .case-block {
    margin-top: 126px;
    @include r-b(lg) {
      margin-top: 38px;
    }
  }
}

.case-magic-img-wrapper {
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 95px;
    width: 551px;
    height: 551px;
    background: url(../img/circle.png) center no-repeat;
    background-size: 100%;
    transform: translate(100%, 50%);
    @include r-b(lg) {
      width: 149px;
      height: 149px;
      right: 0;
      transform: translate(41px, 148px);
    }
    @include r-b(sm) {
      transform: translate(52px, 150px);
    }
  }
  img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @include r-b(lg) {
      max-width: 400px;      
    }
    @include r-b(sm) {
      margin-top: 28px;
    }
  }
  @include r-bt(sm, lg) {
    img {
      transform: translateX(24px);
    }
  }
  @include r-b(sm) {
  }
  .case-quote {
    width: 350px;
    border-radius: 40px;
    width: 307px;
    border-width: 18px;
    margin-bottom: 24px;
    text-align: center;
    font-size: 20px;
    padding-top: 27px;
    &:after {
      border-width: 62px 51px 0 0;
      left: 13px;
    }
    @include r-a(lg) {
      position: absolute;
      bottom: 15px;
      left: 0;
      transform: translateX(-77%);
      line-height: 28px;
    }
    @include r-bt(sm, lg) {
      margin-left: -77px;
      margin-top: -21px;
    }
    @include r-b(sm) {
      width: calc(100% - 20px);
      margin-left: 10px;
      margin-top: -16px;
    }
  }
}

.case-lk-section {
  background: url(../img/section-lk-bg--lg.png) right bottom no-repeat;
  background-color: #c1d2da;
  @include r-b(lg) {
    background-image: url(../img/section-lk-bg--sm.png);
  }
  @include r-b(sm) {
    background-image: url(../img/section-lk-bg--xs.png);
  }
}

.case-get-app-section {
  .case-block {
    margin-top: 123px;
    @include r-bt(sm, lg) {
      margin-top: 80px;
      margin-bottom: 59px;
    }
    @include r-b(sm) {
      margin-top: 70px;
    }
  }
}

.case-get-app-img-wrap {
  @include r-a(sm) {
    position: absolute;
    top: 0;
    height: 100%;
  }
}

.case-get-app-img {
  @include r-a(sm) {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  @include r-b(sm) {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

#case-get-app-section-height {
  @include r-a(lg) {
    min-height: 590px; //to fit image
  }
}

#case-get-app-img {
  @include r-a(lg) {
    width: 543px;
    margin-right: 22px;
  }
  @include r-bt(sm, lg) {
    width: 342px;
  }
}

.case-result-section {
  overflow: hidden;
  background-image: url(../img/result-section-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  @include r-b(lg) {
    background-image: url(../img/result-section-bg--sm.png);    
  }
  .case-title {
    margin-bottom: 40px;
    @include r-b(lg) {
      margin-bottom: 46px;
    }
  }
}

.case-result-section-bg-holder {
  padding: {
    top: 84px;
    bottom: 72px;
  };
  position: relative;
  overflow: hidden;
  @include r-b(lg) {
    padding: {
      top: 58px;
      bottom: 80px;
    };
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/hoff.png) 15px bottom no-repeat;
    background-size: 100%;
    min-width: 732px;
    @include r-b(lg) {
      background-position-y: 35%;
    }
  }
}

.case-bullet {
  border-radius: 50%;
  position: relative;
  width: 55px;
  height: 55px;
  border: 6px solid #FDEDEE;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border: inherit;
    border-radius: 50%;
    border-color: #FADDDD;
  }
}

.case-result-list {
  font-size: 25px;
  line-height: 32px;
  list-style-type: none;
  padding-left: 0;
  margin-top: 33px;
  @include r-b(sm) {
    font-size: 21px;
    line-height: 27px;
  }
  &__item {
    position: relative;
    padding-left: 96px;
    &:not(:first-child) {
      margin-top: 67px;
    }
    @include r-b(sm) {
      padding-left: 68px;
      &:not(:first-child) {
        margin-top: 58px;
      }
    }
    .case-bullet {
      position: absolute;
      left: 2px;
      top: 3px;
    }
  }
}

.case-letter-wrapper {
  @include r-a(lg) {
    text-align: right;
  }
  @include r-b(lg) {
    margin-top: 163px;
    text-align: center;
  }
  .case-bullet {
    position: absolute;
    right: 5px;
    top: 0;
    width: 321px;
    height: 321px;
    transform: translateY(calc(-50% + 35px));
    border-width: 37px;
  }
}

.case-letter-link {
  display: inline-block;
  position: relative;
  margin-right: 25px;
  @include r-b(lg) {
    margin-right: 54px;
  }
  @include r-b(sm) {
    margin-right: 0;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 36px);
    width: calc(100% + 11px);
    background-color: #D84545;
    transform: translate(29px, 25px);
  }
}

.case-letter-img {
  position: relative;
  z-index: 1;
  display: block;
  max-width: 100%;
}

.js-transform-block--01 {
  transform: scale(0);
  opacity: 0;
  transition: .7s ease;
  &.transform {
    transform: scale(1);
    opacity: 1;
  }
}

.js-transform-block--00-trigger {
  position: absolute;
  top: 0;
  @include r-bt(sm, lg) {
    position: static; //tablets fix
  }
}

//sections spacing
#case-section {
  &--04 {

  }
  &--05 {
    @include r-b(sm) {
      padding-bottom: 90px;
    }
    .case-spacing {
      @include r-a(lg) {
        margin-top: 133px;
      }
    }
  }
  &--07 {
    padding: 114px 0 120px;
    @include r-b(lg) {
      padding: 83px 0 167px;
    }
    @include r-b(sm) {
      padding: 51px 0 73px;
    }
  }
  &--08 {
    padding: 122px 0 170px;
    @include r-b(lg) {
      padding: 68px 0 59px;
    }
    @include r-b(sm) {
      padding-bottom: 109px;
    }
    .case-text {
      @include r-bt(sm, lg) {
        padding-right: 56px;
      }
    }
  }
  &--09 {
    @include r-b(sm) {
      
    }
  }
  &--10 {
    padding-bottom: 24px;
    @include r-b(lg) {
      padding-bottom: 78px;
    }
    @include r-b(sm) {
      padding-bottom: 50px;
    }
  }
}

#case-img {
  &--03 {
    &-01 {
      @include r-b(sm) {
        max-width: 250px;
      }
    }
  }
  &--05 {
    &-02 {
      @include r-b(sm) {
        max-width: 294px;
      }
    }
  }
  &--07 {
    &-01 {
      @include r-a(lg) {
        margin-left: 58px;
        margin-top: 17px;
      }
    }
  }
}